{% import "gestion/menu/macro.html.twig" as macro_menu %}
{% extends 'gestion.html.twig' %}
{% block body %}
    <div class="row">
    {% for menu in all %}
        <div class="col-6">
            <fieldset>
                <legend>
                    {{ menu.clef }}
                </legend>
                {{ macro_menu.link(menu, 0) }}
                {{ macro_menu.show(menu.children, 0) }}
            </fieldset>
        </div>
    {% endfor %}
    </div>
{% endblock %}
