{% extends 'admin/menu/layout.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block content %}
    <h1>Edit Menu</h1>

    {{ include('admin/crud/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('menu_index') }}">back to list</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
