{% import "admin/macro.html.twig" as macro_admin %}
{% import "admin/menu/macro.html.twig" as macro_menu %}
{% extends 'admin/menu/layout.html.twig' %}
{% block body %}
    <div class="row">
    {% for menu in all %}
        <div class="col-6">
            <fieldset>
                <legend>
                    {{ menu.clef }}
                </legend>
                {{ macro_menu.link(menu, 0) }}
                {{ macro_menu.show(menu.children, 0) }}
            </fieldset>
        </div>
    {% endfor %}
    {#
	{% for menu in menus %}
		<fieldset>
			<legend></legend>
			<div class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbar-supported-content">
						{{ knp_menu_render(menu, {'style': 'navbar', 'currentClass': 'active'}) }}
					</div>
				</div>
			</div>
			Ajouter | Supprimer | Classer
		</fieldset>
	{% endfor %}
    #}
{% endblock %}
