{% extends 'admin/groupe/layout.html.twig' %}
{% block content %}
    <h1>Edit Groupe</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('groupe_index') }}">back to list</a>

    {{ include('admin/groupe/_delete_form.html.twig') }}
{% endblock %}
