{% extends 'admin/groupe/layout.html.twig' %}
{% block content %}
    <h1>Create new Groupe</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('groupe_index') }}">back to list</a>
{% endblock %}
