{%- extends 'admin/groupe/layout.html.twig' -%}
{%- block body -%}
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td>{{ entity.users|length }}</td>
            </tr>
        </tbody>
    </table>
{%- endblock -%}
