<div class="form-group">
	<label for="form_text_0_integer" class="required">Integer</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_integer" class="required"></label>
	</div><input type="number" id="form_text_0_integer" name="form[text][0][integer]" required="required" aria-describedby="form_text_0_integer_help" class="form-control"/>
	<div id="form_text_0_integer_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
