<div class="form-group">
	<label for="form_text_0_password" class="required">Password</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_password" class="required"></label>
	</div><input type="password" id="form_text_0_password" name="form[text][0][password]" required="required" aria-describedby="form_text_0_password_help" class="form-control"/>
	<div id="form_text_0_password_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
