<div class="form-group">
	<label for="form_text_0_percent" class="required">Percent</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_percent" class="required"></label>
	</div>
	<div class="input-group">
		<input type="" id="form_text_0_percent" name="form[text][0][percent]" required="required" aria-describedby="form_text_0_percent_help" class="form-control"/>
		<span class="input-group-text">%</span>
	</div>
	<div id="form_text_0_percent_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
