<div min="5" max="50" class="form-group">
	<label for="form_text_0_range">Range</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_range"></label>
	</div><input type="range" id="form_text_0_range" name="form[text][0][range]" min="5" max="50" aria-describedby="form_text_0_range_help"/><br/>
	<div id="form_text_0_range_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
