<div class="form-group">
	<label for="form_text_0_tel" class="required">Tel</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_tel" class="required"></label>
	</div><input type="tel" id="form_text_0_tel" name="form[text][0][tel]" required="required" aria-describedby="form_text_0_tel_help" is="input-phone" class="form-control"/>
	<div id="form_text_0_tel_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
