<fieldset class="form-group fieldcollection" data-prototype="&lt;div class='collection-row'&gt; &lt;div class='row'&gt; &lt;div class='col-auto'&gt; &lt;div class='form-group'&gt; &lt;label for='form_collection___name___text' class='required'&gt;Text &lt;div class='btn-group float-end' role='group'&gt; &lt;/div&gt;&lt;/label&gt; &lt;input type='' id='form_collection___name___text' name='form[collection][__name__][text]' required='required' aria-describedby='form_collection___name___text_help' class='form-control' /&gt; &lt;div id='form_collection___name___text_help' class='form-text mb-0 help-text'&gt;help&lt;/div&gt; &lt;/div&gt; &lt;/div&gt; &lt;div class='text-center col-12'&gt; &lt;btn-delete title='Supprimer' /&gt; &lt;/div&gt; &lt;/div&gt;&lt;/div&gt;">
	<legend class="col-form-label required">Collection</legend>
	<div class="btn-group float-end" role="group">
		<legend class="col-form-label required">
			<btn-addcollection title="Ajouter"></btn-addcollection>
			<btn-togglefieldset></btn-togglefieldset>
		</legend>
	</div>
	<legend class="col-form-label required"></legend>
	<div class="field-row">
		<div class="collection-row">
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="form_collection_0_text" class="required">Text</label>
						<div class="btn-group float-end" role="group">
							<label for="form_collection_0_text" class="required"></label>
						</div><input type="" id="form_collection_0_text" name="form[collection][0][text]" required="required" aria-describedby="form_collection_0_text_help" class="form-control"/>
						<div id="form_collection_0_text_help" class="form-text mb-0 help-text">
							help
						</div>
					</div>
				</div>
				<div class="text-center col-12">
					<btn-delete title="Supprimer"></btn-delete>
				</div>
			</div>
		</div>
	</div>
</fieldset>
