<div class="row">
	<div class="col-6">
		<div class="form-group">
			<label for="form_plainPassword_first">Mot de passe</label>
			<div class="btn-group float-end" role="group">
				<label for="form_plainPassword_first"></label>
			</div><input type="password" id="form_plainPassword_first" name="form[plainPassword][first]" class="password-field form-control"/>
		</div>
	</div>
	<div class="col-6">
		<div class="form-group">
			<label for="form_plainPassword_second">Répéter le mot de passe</label>
			<div class="btn-group float-end" role="group">
				<label for="form_plainPassword_second"></label>
			</div><input type="password" id="form_plainPassword_second" name="form[plainPassword][second]" class="password-field form-control"/>
		</div>
	</div>
</div>
