node_modules
mariadb
apps/bin/behat
apps/bin/doctrine
apps/bin/doctrine-dbal
apps/bin/doctrine-migrations
apps/bin/pdepend
apps/bin/php-parse
apps/bin/phpcbf
apps/bin/phpcs
apps/bin/phpmnd
apps/bin/phpstan
apps/bin/phpstan.phar
apps/bin/simple-phpunit
apps/bin/sql-formatter
apps/bin/var-dump-server
apps/bin/yaml-lint
/apps/.env
apps/public/uploads
apps/public/assets
apps/phploc.phar
apps/phpcpd.phar
apps/phpmd.phar
apps/twigcs.phar
apps/bin/phpunit