!apps/bin/console
!docker-compose-lampy.yml
.env
/apps/*.cache
/apps/.env
/apps/.phpcs-cache
apps/*.phar
apps/.phpdoc
apps/bin/
apps/public/assets
apps/public/docs
apps/public/uploads
docker-compose-*.yml
mariadb
node_modules
report
storybook-static