/apps/.env
/apps/.phpcs-cache
/apps/*.cache
apps/.phpdoc
apps/*.phar
apps/bin/*.phar
apps/bin/behat
apps/bin/doctrine
apps/bin/doctrine-dbal
apps/bin/doctrine-migrations
apps/bin/pdepend
apps/bin/php-cs-fixer
apps/bin/php-parse
apps/bin/phpcbf
apps/bin/phpcs
apps/bin/phpmnd
apps/bin/phpstan
apps/bin/phpunit
apps/bin/simple-phpunit
apps/bin/sql-formatter
apps/bin/var-dump-server
apps/bin/yaml-lint
apps/public/assets
apps/public/docs
apps/public/uploads
mariadb
node_modules
report