<div class="footer-gotop"></div>
<div class="footer-container">
    <div class="footer-text">
        <div>
            @Copyright 1999 - {{ 'now'|date('Y') }}
        </div>
        <div>
            Le TOULLEC Martial
        </div>
    </div>
</div>