<nav class="header_top">
	<div class="header_top-title">
		<a href="{{ path('front') }}">{{ config.site_title|e('html_attr') }}</a>
	</div>
	<div class="header_top-login">
		<a href="{{ path('admin') }}">Se connecter</a>
	</div>
</nav>
{% include "skeleton/home/menu.html.twig" %}