<nav class="header_menu">
	<a href="#">World</a>
	<a href="#">U.S.</a>
	<a href="#">Technology</a>
	<a href="#">Design</a>
	<a href="#">Culture</a>
	<a href="#">Business</a>
	<a href="#">Politics</a>
	<a href="#">Opinion</a>
	<a href="#">Science</a>
	<a href="#">Health</a>
	<a href="#">Style</a>
	<a href="#">Travel</a>
</nav>

