footer{
  @extend .container-fluid;
}

.footer-gotop{
  background-color: $gc_gotop;
  position: relative;
  z-index: 1;
  border-radius: 0 0 25% 25%;
  height: 36px;
  width: 36px;
  top: -1em;
  left: 45%;
  text-align: center;
  padding-top: 10px;

  @extend .fas;
  @extend .fa-arrow-up;
  @include media-breakpoint-up(sm) {
    left: 90%;
  }
}

.footer-container{
  @extend .container;
  padding: 5px;
}

.footer-text{
  text-align: center;
}