.footer-gotop{
  background-color: $gotop_gotop;
  position: relative;
  z-index: 1;
  border-radius: $gotop_border_radius;
  height: $gotop_hw;
  width: $gotop_hw;
  transform: translateY(-50%);
  left: calc(50% - #{$gotop_hw} /2);
  text-align: center;
  padding: 10px 0 0 0;

  @extend .fas;
  @extend .fa-arrow-up;
  @include media-breakpoint-up(sm) {
    left: 90%;
  }
}

.footer-container{
  @extend .container;
  padding: 5px;
}

.footer-text{
  text-align: center;
}