header{
  @extend .container;
}

.header_row{
  @extend .row;
}

.header_top-title{
  @include make-col(6);
  padding: 0 0 0 15px;
  a{
    
  }
}

.header_top-login{
  @include make-col(6);
  text-align: right;
  padding: 0 15px 0 0;
  a{
    
  }
}

.header_menu{
  @extend .col-12;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  padding: 1% 5% 0 5%;
  text-align: center;
  a{
    flex: auto;
    margin: 10px;
  }
}

.header_edito{
  @extend .col-12;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  padding: 15px;
}

.edito_content{
}

.edito_more{
  text-align: right;
  a{

  }
}