{% set sitemetatags = sitemetatags|merge([
    {
        'name': 'robots',
        'content': 'noindex,nofollow'
    }
]) %}
{% extends 'skeleton/landing.html.twig' %}
{% block box %}
    <div>
        {% block message %}{% endblock %}
    </div>
    <div class="btns">
        <a href="{{ path('front') }}" class="btn btn-success">
            {{ 'error.page.gotosite'|trans }}
        </a>
    </div>
{% endblock %}
