{% extends 'front.html.twig' %}
{% block body %}
    <header>
        <div class="header_row">
            {% include "skeleton/home/header.html.twig" %}
            {% block header %}{% endblock %}
        </div>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
	<footer>
        {% include "skeleton/home/footer.html.twig" %}
	</footer>
{% endblock %}
