{% extends 'front.html.twig' %}
{% block body %}
    <header>
        {% include "skeleton/home/header.html.twig" %}
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
	<footer>
        {% include "skeleton/home/footer.html.twig" %}
	</footer>
{% endblock %}
