<div id="delete-modal" tabindex="-1" aria-labelledby="delete-modalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modalLabel">
                    {{ 'modal.delete.title'|trans }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'modal.delete.message'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel" data-bs-dismiss="modal">
                    <i></i>
                    <span>{{ 'modal.button.cancel'|trans }}</span>
                </button>
                <confirm-delete>
                    <i></i>
                    <span>{{ 'modal.button.delete'|trans }}</span>
                </confirm-delete>
            </div>
        </div>
    </div>
</div>
