<div id="emptyall-modal" tabindex="-1" aria-labelledby="emptyall-modalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emptyall-modalLabel">
                    {{ 'modal.emptyall.title'|trans }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'modal.emptyall.message'|trans }}
            </div>
            <div class="modal-footer">
                <confirm-close title="{{ 'modal.button.cancel'|trans|e('html_attr') }}" />
                <confirm-emptyall title="{{ 'modal.button.empty'|trans|e('html_attr') }}" />
            </div>
        </div>
    </div>
</div>