<div id="empty-modal" tabindex="-1" aria-labelledby="empty-modalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empty-modalLabel">
                    {{ "Supprimer ?"|trans }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ "Êtes-vous sûr de vouloir vider la corbeille ?"|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel" data-bs-dismiss="modal">
                    <i></i>
                    <span>{{ "Annuler"|trans }}</span>
                </button>
                <confirm-empty>
                    <i></i>
                    <span>{{ "Vider"|trans }}</span>
                </confirm-empty>
            </div>
        </div>
    </div>
</div>