<div id="restore-modal" tabindex="-1" aria-labelledby="restore-modalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restore-modalLabel">
                    {{ 'modal.restore.title'|trans }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'modal.restore.message'|trans }}
            </div>
            <div class="modal-footer">
                {% embed "embed/confirm/close.html.twig" %}{% endembed %}
                {% embed "embed/confirm/restore.html.twig" %}{% endembed %}
            </div>
        </div>
    </div>
</div>