{% extends 'global.html.twig' %}

{% block page_title %}Lost password{% endblock %}

{% block body %}
    <div class="ShowGlobalChangePassword">
        <h1>Change password</h1>
        {{ form(formChangePassword) }}
    </div>
{% endblock %}
