{% extends 'global.html.twig' %}

{% block page_title %}Lost password{% endblock %}

{% block body %}
    <div class="ShowGlobalLost">
        <h1>Lost password</h1>
        {{ form(formLostPassword) }}
    </div>
{% endblock %}