{% set bodyclass = "body-lostpassword" %}
{% extends 'front.html.twig' %}

{% block page_title %}Lost password{% endblock %}

{% block body %}
    <div class="form-lostpassword">
        <h1>Lost password</h1>
        {{ form(formLostPassword) }}
    </div>
{% endblock %}
