{% extends 'global.html.twig' %}

{% block page_title %}Lost password{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-column">
        <h1 class="h3 mb-3 font-weight-normal">Lost password</h1>
        {{ form(formLostPassword) }}
    </div>
{% endblock %}