$bg_footer: rgba(128, 128, 128, 0.678);
$c_footer: rgba(255, 255, 255);
$bg_gotop: rgba(255, 237, 0);
$c_gotop: rgba(255, 255, 255);
$c_gotophover: rgba(0, 0, 0);
$bg_gotophover: rgba(255, 238, 0, 0.719);