{% extends 'admin/configuration/layout.html.twig' %}
{% block content %}

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('configuration_index') }}">back to list</a>

    {{ include('admin/configuration/_delete_form.html.twig') }}
{% endblock %}
