{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/configuration/layout.html.twig' %}
{% block body %}
    <table is="table-datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th><i title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.value ? entity.value|json_encode : '' }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
