{% extends 'admin/phone_user/layout.html.twig' %}
{% block content %}
    <h1>Edit PhoneUser</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('phone_user_index') }}">back to list</a>

    {{ include('admin/phone_user/_delete_form.html.twig') }}
{% endblock %}
