{% use "tmpl/form_themes.html.twig" %}
{% set state = guard_route('api_check_phone') %}
{% if state == true %}
    {% set url = path('api_check_phone', {'_format': 'json'}) %}
{% else %}
    {% set url = '#' %}
{% endif %}
<div class="row" data-url="{{ url }}">
    {% for input in prototype %}
        <div class="col-6">
            {{ form_row(input) }}
        </div>
    {% endfor %}
    {% if allow_delete %}
        <div class="text-center col-6">
            {{ block('collection_delete') }}
        </div>
    {% endif %}
</div>