{% use "tmpl/form_themes.html.twig" %}
<div class="row" data-url="{{ path('api_checkphone') }}">
    {% for input in prototype %}
        <div class="col-auto">
            {{ form_row(input) }}
        </div>
    {% endfor %}
    {% if allow_delete %}
        <div class="text-center col-6">
            {{ block('collection_delete') }}
        </div>
    {% endif %}
</div>
