{% use "tmpl/front-form_themes.html.twig" %}
<div class="row">
    {% for input in row %}
        <div class="col-6">
            {{ form_row(input) }}
        </div>
    {% endfor %}
    {% if allow_delete %}
        <div class="text-center col-12">
            {{ block('collection_delete') }}
        </div>
    {% endif %}
</div>