@import "back/_mixin.scss";
@import "back/_variables.scss";
@import "global.scss";

header {
  .row {
    background-color: #f1f1f1;
  }
}

form {
  background-color: #f1f1f1;
  padding: 1em;
  margin: 2em;
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-striped;
}

.thactions {
  @extend .text-center;

  i {
    @extend .BtnAdminTableAction;
  }
}

.pagination {
  @extend .justify-content-center;
}

.list-btn-admin {
  @extend .btn-group;
  @extend .btn-group-lg;

  .link-btnadmin {
    @extend .btn;
    @extend .btn-secondary;

    a {
      @extend .d-flex;
      @extend .flex-column;
      @extend .align-items-center;

      color: white;
    }
  }
}

.btn-admin-header-destroy {
  @extend .fas;
  @extend .fa-trash;
}

.btn-admin-header-restore,
.btn-admin-header-restories {
  @extend .fas;
  @extend .fa-trash-restore;
}

.btn-admin-header-trash {
  @extend .fas;
  @extend .fa-trash;
}

.btn-admin-header-empty,
.btn-admin-header-emptyall,
.btn-admin-header-empties {
  @extend .fas;
  @extend .fa-trash;
}

.btn-admin-header-guard {
  @extend .fas;
  @extend .fa-gavel;
}

.btn-admin-header-edit {
  @extend .far;
  @extend .fa-edit;
}

.btn-admin-header-delete,
.btn-admin-header-deleties {
  @extend .far;
  @extend .fa-trash-alt;
}

.btn-admin-header-show {
  @extend .far;
  @extend .fa-eye;
}

.btn-admin-header-save {
  @extend .fas;
  @extend .fa-save;
}

.btn-admin-header-new {
  @extend .fas;
  @extend .fa-plus;
}

.btn-admin-header-list {
  @extend .fas;
  @extend .fa-list;
}

.BtnAdminTableAction {
  @extend .fas;
  @extend .fa-cog;

  i {
    @extend .fas;
    @extend .fa-plus;
  }

  span {
    display: none;
  }
}

.link-guard {
  @extend .btn;
  @extend .btn-outline-dark;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-gavel;
  }

  span {
    display: none;
  }
}

.link-trash {
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash;
  }

  span {
    display: none;
  }
}

.link-show {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-sm;

  i {
    @extend .far;
    @extend .fa-eye;
  }

  span {
    display: none;
  }
}

.link-edit {
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-edit;
  }

  span {
    display: none;
  }
}

.link-empty {
  @extend .btn;
  @extend .btn-outline-danger;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash-restore;
  }

  span {
    display: none;
  }
}

.link-restore {
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash-restore;
  }

  span {
    display: none;
  }
}

.workflow-action {
  @extend .btn;
  @extend .btn-outline-info;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-sign-in-alt;
  }
}

.attachment-img {
  img {
    @extend .img-fluid;
    @extend .img-thumbnail;
    @extend .mx-auto;
    @extend .d-block;
  }
}

.link-delete,
.link-destroy {
  @extend .btn;
  @extend .btn-outline-danger;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash-alt;
  }

  span {
    display: none;
  }
}

.breadcrumb {
  .separator {
    @extend .mr-1;
    @extend .ml-1;
  }
}

.btngrouptable {
  @extend .btn-group;
}

#navbarSupportedContent {
  .navbar-nav {
    &:last-child {
      li {
        &.last {
          right: 25px;
        }
      }
    }
  }
}

.guard-set {
  @extend .custom-control;
  @extend .custom-switch;

  input {
    @extend .custom-control-input;
  }

  label {
    @extend .custom-control-label;
  }
}

span {
  .check-ok {
    @extend .fas;
    @extend .fa-check;

    color: green;
  }

  .check-ko {
    @extend .fas;
    @extend .fa-times;

    color: red;
  }
}

.empty {
  text-align: center;
}

.btn-togglefieldset {
  @extend .btn;
  @extend .btn-info;

  .min {
    @extend .fas;
    @extend .fa-window-minimize;
  }

  .max {
    @extend .far;
    @extend .fa-window-maximize;
  }
}

.btn-addcollection {
  @extend .btn;
  @extend .btn-primary;

  i {
    @extend .fas;
    @extend .fa-plus;
  }
}

.btn-delete,
.attachment-delete {
  @extend .btn;
  @extend .btn-danger;

  i {
    @extend .fas;
    @extend .fa-trash-alt;
  }
}

fieldset {
  @extend .shadow;
  @extend .p-3;
  @extend .mb-5;
  @extend .bg-white;
}

.collection-row {
  @extend .shadow;
  @extend .p-3;
  @extend .mb-5;
  @extend .bg-white;
}

.form-group {
  @extend .mb-1;
}

.form-control {
  appearance: revert;
}

.th-inner {
  .asc,
  .desc,
  .both {
    @extend .text-decoration-none;

    background-image: none !important;
  }
}

legend {
  font-weight: bold;
}

.gps-icon {
  &::before {
    @extend .fas;
    @extend .fa-map-marker-alt;

    padding-right: 5px;
  }
}

#deleteModal,
#deletiesModal,
#deleteAttachmentModal,
#destroyModal,
#emptyModal,
#emptiesModal,
#emptyallModal,
#restoreModal,
#restoriesModal,
#workflowModal {
  @extend .modal;
  @extend .fade;
}

.modal-dialog {
  @extend .modal-dialog-centered;

  .btn-cancel {
    @extend .btn;
    @extend .btn-outline-success;

    i {
      @extend .fas;
      @extend .fa-ban;
    }
  }

  .confirm-delete,
  .confirm-deleties,
  .confirm-destroy,
  .confirm-empty,
  .confirm-empties,
  .confirm-emptyall,
  .confirm-deleteattachment {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-trash-alt;
    }
  }

  .confirm-restore,
  .confirm-restories {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-trash-restore;
    }
  }

  .confirm-workflow {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-sign-in-alt;
    }
  }
}

@media all and (min-width: 992px) {
  .nav-item {
    .dropdown-menu {
      display: none;
      margin-top: 0;
    }

    &:hover {
      .nav-link {
        color: #fff;
      }

      .dropdown-menu {
        display: block;
      }
    }
  }
}

.form-error {
  @extend .badge;
  @extend .badge-danger;
  @extend .text-uppercase;
}
