@import "back/_mixin.scss";
@import "back/_variables.scss";
@import "global.scss";

header {
  .row {
    background-color: #f1f1f1;
  }
}

picture {
  img {
    width: 20em;
  }
}

.tree {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }

  li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    color: #369;
    font-weight: bold;
    border-left: 1px solid rgb(100, 100, 100);

    &::before {
      position: relative;
      top: -0.3em;
      height: 1em;
      width: 12px;
      color: white;
      border-bottom: 1px solid rgb(100, 100, 100);
      content: "";
      display: inline-block;
      left: -7px;
    }

    &:last-child {
      border-left: none;

      &::before {
        border-left: 1px solid rgb(100, 100, 100);
      }
    }
  }
}

.thactions {
  @extend .text-center;

  i {
    @extend .btn-admin-table-action;
  }
}

.list-btn-admin {
  @extend .btn-group;
  @extend .btn-group-lg;

  .link-btnadmin {
    @extend .btn;
    @extend .btn-secondary;

    a {
      @extend .d-flex;
      @extend .flex-column;
      @extend .align-items-center;

      color: white;
    }
  }
}

.btn-admin-header-destroy {
  @extend .fas;
  @extend .fa-trash;
}

.btn-admin-header-restore,
.btn-admin-header-restories {
  @extend .fas;
  @extend .fa-trash-restore;
}

.btn-admin-header-trash {
  @extend .fas;
  @extend .fa-trash;
}

.btn-admin-header-empty,
.btn-admin-header-emptyall,
.btn-admin-header-empties {
  @extend .fas;
  @extend .fa-trash;
}

.btn-admin-header-guard {
  @extend .fas;
  @extend .fa-gavel;
}

.btn-admin-header-edit {
  @extend .far;
  @extend .fa-edit;
}

.btn-admin-header-delete,
.btn-admin-header-deleties {
  @extend .far;
  @extend .fa-trash-alt;
}

.btn-admin-header-show {
  @extend .far;
  @extend .fa-eye;
}

.btn-admin-header-save {
  @extend .fas;
  @extend .fa-save;
}

.btn-admin-header-export {
  @extend .fas;
  @extend .fa-file-export;
}

.btn-admin-header-new {
  @extend .fas;
  @extend .fa-plus;
}

.btn-admin-header-list {
  @extend .fas;
  @extend .fa-list;
}

.btn-admin-table-action {
  @extend .fas;
  @extend .fa-cog;

  i {
    @extend .fas;
    @extend .fa-plus;
  }

  span {
    display: none;
  }
}

.link-guard {
  @extend .btn;
  @extend .btn-outline-dark;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-gavel;
  }

  span {
    display: none;
  }
}

.link-trash {
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash;
  }

  span {
    display: none;
  }
}

.link-show {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-sm;

  i {
    @extend .far;
    @extend .fa-eye;
  }

  span {
    display: none;
  }
}

.link-edit {
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-edit;
  }

  span {
    display: none;
  }
}

.link-empty {
  @extend .btn;
  @extend .btn-outline-danger;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash-restore;
  }

  span {
    display: none;
  }
}

.link-restore {
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash-restore;
  }

  span {
    display: none;
  }
}

.workflow-action {
  @extend .btn;
  @extend .btn-outline-info;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-sign-in-alt;
  }
}

.link-delete,
.link-destroy {
  @extend .btn;
  @extend .btn-outline-danger;
  @extend .btn-sm;

  i {
    @extend .fas;
    @extend .fa-trash-alt;
  }

  span {
    display: none;
  }
}

.breadcrumb {
  .separator {
    @extend .me-1;
    @extend .ms-1;
  }
}

.btngrouptable {
  @extend .btn-group;
}

#navbar-supported-content {
  .navbar-nav {
    &:last-child {
      li {
        &.last {
          right: 25px;
        }
      }
    }
  }
}

.guard-set {
  @extend .form-check;
  @extend .form-switch;

  input {
    @extend .form-check-input;
  }
}

.empty {
  text-align: center;
}

.btn-delete,
.attachment-delete {
  @extend .btn;
  @extend .btn-danger;

  i {
    @extend .fas;
    @extend .fa-trash-alt;
  }
}

.th-inner {
  .asc,
  .desc,
  .both {
    @extend .text-decoration-none;

    background-image: none !important;
  }
}

@media all and (min-width: 992px) {
  .nav-item {
    .dropdown-menu {
      display: none;
      margin-top: 0;
    }

    &:hover {
      .nav-link {
        color: #fff;
      }

      .dropdown-menu {
        display: block;
      }
    }
  }
}

.check-ok {
  @extend .fas;
  @extend .fa-check;

  color: green;
}

.check-ko {
  @extend .fas;
  @extend .fa-times;

  color: red;
}
