@import "bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "flag-icon-css/sass/flag-icon.scss";
@import "tom-select/dist/css/tom-select.bootstrap4.css";

a {
  @extend .text-decoration-none;

  &[href^="tel:"] {
    &::before {
      @extend .fas;
      @extend .fa-phone;

      color: #000;
      padding-right: 5px;
    }
  }

  &[href^="mailto:"] {
    &::before {
      @extend .fas;
      @extend .fa-at;

      color: #f00;
      padding-right: 5px;
    }
  }
}

label {
  &:not(.float-end label) {
    &.required {
      &::after {
        content: " *";
        color: red;
      }
    }
  }
}

form {
  background-color: #f1f1f1;
  padding: 1em;
  margin: 2em;
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-striped;
}

legend {
  font-weight: bold;
}

fieldset {
  @extend .shadow;
  @extend .p-3;
  @extend .mb-5;
  @extend .bg-white;
}

picture {
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
  }
}

.form-error {
  @extend .text-uppercase;
}

.require-form-info {
  text-align: right;

  span {
    font-weight: bold;
    color: red;
  }
}

.btn-addcollection {
  @extend .btn;
  @extend .btn-primary;

  i {
    @extend .fas;
    @extend .fa-plus;
  }
}

#delete-modal,
#deleties-modal,
#delete-attachment-modal,
#destroy-modal,
#empty-modal,
#empties-modal,
#emptyall-modal,
#restore-modal,
#restories-modal,
#workflow-modal {
  @extend .modal;
  @extend .fade;
}

.modal-dialog {
  @extend .modal-dialog-centered;

  .btn-cancel {
    @extend .btn;
    @extend .btn-outline-success;

    i {
      @extend .fas;
      @extend .fa-ban;
    }
  }

  .confirm-delete,
  .confirm-deleties,
  .confirm-destroy,
  .confirm-empty,
  .confirm-empties,
  .confirm-emptyall,
  .confirm-deleteattachment {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-trash-alt;
    }
  }

  .confirm-restore,
  .confirm-restories {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-trash-restore;
    }
  }

  .confirm-workflow {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-sign-in-alt;
    }
  }
}

.gps-icon {
  &::before {
    @extend .fas;
    @extend .fa-map-marker-alt;

    padding-right: 5px;
  }
}

.btn-togglefieldset {
  @extend .btn;
  @extend .btn-info;

  .min {
    @extend .fas;
    @extend .fa-window-minimize;
  }

  .max {
    @extend .far;
    @extend .fa-window-maximize;
  }
}

.form-group {
  @extend .mb-1;
}

.collection-row {
  @extend .shadow;
  @extend .p-3;
  @extend .mb-5;
  @extend .bg-white;
}

.form-control {
  appearance: revert;
}

.header_edito_img {
  img {
    height: 10vh;
  }
}

.pagination {
  @extend .justify-content-center;
}
