{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}" role="alert">
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}