{%- macro flashbag(app) -%}
    {%- for label, messages in app.flashes -%}
        <div class="alert alert-{{ label }}">
            <button class="close" data-dismiss="alert">×</button>
            <ul>
            {%- for message in messages -%}
                <li>{{ message|trans|raw }}</li>
            {%- endfor -%}
            </ul>
        </div>
    {%- endfor -%}
{%- endmacro -%}
{%- macro user(user) -%}
    <i class="fas fa-user"></i>
    {{ user }}
{%- endmacro -%}
