{% macro flashbag(app) %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            <button class="btn-close" data-bs-dismiss="alert">×</button>
            <ul>
            {% for message in messages %}
                <li>{{ message|trans|raw }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endmacro %}
{% macro user(user, url) %}
    <i class="fas fa-user"></i>
    <a href="{{ url }}">
        {{ user }}
    </a>
{% endmacro %}
