{% macro attachmentDelete() %}
	<div id="deleteAttachmentModal" tabindex="-1" aria-labelledby="deleteAttachmentModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteAttachmentModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir supprimer cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-deleteattachment>
                        <i></i>
                        <span>Supprimer</span>
                    </confirm-deleteattachment>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro delete() %}
	<div id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir supprimer cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-delete>
                        <i></i>
                        <span>Supprimer</span>
                    </confirm-delete>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro destroy() %}
	<div id="destroyModal" tabindex="-1" aria-labelledby="destroyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="destroyModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir supprimer cette donnée (elle sera supprimé de la base de données définivement) ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-destroy>
                        <i></i>
                        <span>Supprimer</span>
                    </confirm-destroy>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro emptyall() %}
	<div id="emptyallModal" tabindex="-1" aria-labelledby="emptyallModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="emptyallModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir vider la corbeille ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-emptyall>
                        <i></i>
                        <span>Vider</span>
                    </confirm-emptyall>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro empties() %}
	<div id="emptiesModal" tabindex="-1" aria-labelledby="emptiesModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="emptiesModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir vider la sélection ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-empties>
                        <i></i>
                        <span>Vider</span>
                    </confirm-empties>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro deleties() %}
	<div id="deletiesModal" tabindex="-1" aria-labelledby="deletiesModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deletiesModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir supprimer la sélection ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-deleties>
                        <i></i>
                        <span>Vider</span>
                    </confirm-deleties>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro empty() %}
	<div id="emptyModal" tabindex="-1" aria-labelledby="emptyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="emptyModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir vider la corbeille ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-empty>
                        <i></i>
                        <span>Vider</span>
                    </confirm-empty>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro restore() %}
	<div id="restoreModal" tabindex="-1" aria-labelledby="restoreModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="restoreModalLabel">
                        Restaurer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir restaurer cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-restore>
                        <i></i>
                        <span>Restaurer</span>
                    </confirm-restore>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro Workflow() %}
	<div id="workflowModal" tabindex="-1" aria-labelledby="workflowModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="workflowModalLabel">
                        Workflow
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir changer d'état cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<confirm-workflow>
                        <i></i>
                        <span>Confirmer</span>
                    </confirm-workflow>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}