{% macro delete() %}
	<div id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir supprimer cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<button type="button" is="confirm-delete">
                        <i></i>
                        <span>Supprimer</span>
                    </button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro destroy() %}
	<div id="destroyModal" tabindex="-1" aria-labelledby="destroyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="destroyModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir supprimer cette donnée (elle sera supprimé de la base de données définivement) ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<button type="button" is="confirm-destroy">
                        <i></i>
                        <span>Supprimer</span>
                    </button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro empty() %}
	<div id="emptyModal" tabindex="-1" aria-labelledby="emptyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="emptyModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir vider la corbeille ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<button type="button" is="confirm-empty">
                        <i></i>
                        <span>Vider</span>
                    </button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro restore() %}
	<div id="restoreModal" tabindex="-1" aria-labelledby="restoreModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="restoreModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir restaurer cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<button type="button" is="confirm-restore">
                        <i></i>
                        <span>Restaurer</span>
                    </button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro Workflow() %}
	<div id="workflowModal" tabindex="-1" aria-labelledby="workflowModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="workflowModalLabel">
                        Supprimer ?
                    </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous sûr de vouloir changer d'état cette donnée ?
				</div>
				<div class="modal-footer">
					<button type="button" class="BtnCancel" data-dismiss="modal">
                        <i></i>
                        <span>Annuler</span>
                    </button>
					<button type="button" is="confirm-workflow">
                        <i></i>
                        <span>Confirmer</span>
                    </button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
