<fieldset>
	<legend></legend>
	<div>
		<input type="file" id="form_other_0_file" name="form[other][0][file]" required="required" class="custom-file-input"/>
		<div id="form_other_0_file_help" class="form-text mb-0 help-text">
			help
		</div>
	</div>
</fieldset>
