<div class="form-group">
	<div class="form-check">
		<input type="radio" id="form_other_0_radio" name="form[other][0][radio]" required="required" aria-describedby="form_other_0_radio_help" class="form-check-input" value="1"/>
		<label class="form-check-label" for="form_other_0_radio">Radio</label>
	</div>
	<div id="form_other_0_radio_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
