{% import "macro.html.twig" as macro_site %}
{% if breadcrumbs|length >= 2 %}
<section id="{{ block_id(block) }}" class="{{ block_class(block) }}">
    {{ macro_site.breadcrumbs(breadcrumbs) }}
</section>
{% endif %}