{% import "macro.html.twig" as macro_site %}
{% set flashes = app.flashes %}
{% if flashes|length > 0 %}
    <section id="{{ block|block_id }}" class="{{ block|block_class }}">
        {{ macro_site.flashbag(flashes) }}
    </section>
{% endif %}