{% import "macro.html.twig" as macro_site %}
{% if app.flashes is defined and app.flashes|length != 0 %}
    <section id="{{ block|block_id }}" class="{{ block|block_class }}">
        {{ macro_site.flashbag(app) }}
    </section>
{% endif %}