{% set img = attachment(edito.fond) %}
{% if img is not null and img.name is not null %}
    <section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
        <picture class="header-edito-img">
            <img loading="lazy" alt="{{ edito.title|e('html_attr') }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}" />
        </picture>
    </section>
{% endif %}