<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    <ol>
        {% for archive in archives %}
            <li>
                <a href="{{ path('front_article_year', {'year': archive.code}) }}">{{ archive.published|format_datetime(pattern="MMMM Y") }}</a>
            </li>
        {% endfor %}
    </ol>
</section>