<div class="form-group">
	<label class="required" for="form_choice_0_choice">Choice</label>
	<div class="btn-group float-end" role="group">
		<label class="required" for="form_choice_0_choice"></label>
	</div>
	<select id="form_choice_0_choice" name="form[choice][0][choice]" aria-describedby="form_choice_0_choice_help" is="select-selector">
		<option value="0" selected="selected">
			Maybe
		</option>
		<option value="1">
			Yes
		</option>
		<option value="2">
			No
		</option>
	</select>
	<div id="form_choice_0_choice_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
