<div class="form-group">
	<label class="required">Choice expanded</label>
	<div class="btn-group float-end" role="group">
		<label class="required"></label>
	</div>
	<div id="form_choice_0_choice_expanded" aria-describedby="form_choice_0_choice_expanded_help">
		<div class="form-check">
			<input type="radio" id="form_choice_0_choice_expanded_0" name="form[choice][0][choice_expanded]" class="form-check-input" value="0" checked="checked"/>
			<label class="form-check-label" for="form_choice_0_choice_expanded_0">Maybe</label>
		</div>
		<div class="form-check">
			<input type="radio" id="form_choice_0_choice_expanded_1" name="form[choice][0][choice_expanded]" class="form-check-input" value="1"/>
			<label class="form-check-label" for="form_choice_0_choice_expanded_1">Yes</label>
		</div>
		<div class="form-check">
			<input type="radio" id="form_choice_0_choice_expanded_2" name="form[choice][0][choice_expanded]" class="form-check-input" value="2"/>
			<label class="form-check-label" for="form_choice_0_choice_expanded_2">No</label>
		</div>
	</div>
	<div id="form_choice_0_choice_expanded_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
