<div class="form-group">
	<label class="required" for="form_choice_0_language">Language</label>
	<div class="btn-group float-end" role="group">
		<label class="required" for="form_choice_0_language"></label>
	</div>
	<select id="form_choice_0_language" name="form[choice][0][language]" aria-describedby="form_choice_0_language_help" is="select-selector">
		<option value="ab">abkhaze</option>
		<option value="ace">aceh</option>
		<option value="ach">acoli</option>
		<option value="ada">adangme</option>
		<option value="ady">adyguéen</option>
		<option value="aa">afar</option>
		<option value="afh">afrihili</option>
		<option value="af">afrikaans</option>
		<option value="agq">aghem</option>
		<option value="ain">aïnou</option>
		<option value="ak">akan</option>
		<option value="akk">akkadien</option>
		<option value="bss">akoose</option>
		<option value="akz">alabama</option>
		<option value="sq">albanais</option>
		<option value="ale">aléoute</option>
		<option value="crr">algonquin de Caroline</option>
		<option value="de">allemand</option>
		<option value="pfl">allemand palatin</option>
		<option value="alt">altaï du Sud</option>
		<option value="tzm">amazighe de l’Atlas central</option>
		<option value="zgh">amazighe standard marocain</option>
		<option value="am">amharique</option>
		<option value="ang">ancien anglais</option>
		<option value="fro">ancien français</option>
		<option value="goh">ancien haut allemand</option>
		<option value="sga">ancien irlandais</option>
		<option value="anp">angika</option>
		<option value="en">anglais</option>
		<option value="njo">Ao</option>
		<option value="ar">arabe</option>
		<option value="arq">arabe algérien</option>
		<option value="arz">arabe égyptien</option>
		<option value="ary">arabe marocain</option>
		<option value="ars">arabe najdi</option>
		<option value="shu">arabe tchadien</option>
		<option value="aeb">arabe tunisien</option>
		<option value="an">aragonais</option>
		<option value="arc">araméen</option>
		<option value="sam">araméen samaritain</option>
		<option value="aro">araona</option>
		<option value="arp">arapaho</option>
		<option value="arw">arawak</option>
		<option value="hy">arménien</option>
		<option value="rup">aroumain</option>
		<option value="as">assamais</option>
		<option value="ast">asturien</option>
		<option value="asa">asu</option>
		<option value="atj">atikamekw</option>
		<option value="cch">atsam</option>
		<option value="av">avar</option>
		<option value="ae">avestique</option>
		<option value="awa">awadhi</option>
		<option value="ay">aymara</option>
		<option value="az">azerbaïdjanais</option>
		<option value="ba">bachkir</option>
		<option value="bfq">badaga</option>
		<option value="ksf">bafia</option>
		<option value="bfd">bafut</option>
		<option value="bqi">bakhtiari</option>
		<option value="ban">balinais</option>
		<option value="bal">baloutchi</option>
		<option value="bgn">baloutchi occidental</option>
		<option value="bm">bambara</option>
		<option value="bax">bamoun</option>
		<option value="bjn">banjar</option>
		<option value="nds">bas-allemand</option>
		<option value="pdt">bas-prussien</option>
		<option value="sli">bas-silésien</option>
		<option value="dsb">bas-sorabe</option>
		<option value="eu">basque</option>
		<option value="bas">bassa</option>
		<option value="bbc">batak toba</option>
		<option value="bar">bavarois</option>
		<option value="bej">bedja</option>
		<option value="bem">bemba</option>
		<option value="bez">bena</option>
		<option value="bn">bengali</option>
		<option value="bew">betawi</option>
		<option value="bho">bhodjpouri</option>
		<option value="bi">bichelamar</option>
		<option value="be">biélorusse</option>
		<option value="bik">bikol</option>
		<option value="bin">bini</option>
		<option value="my">birman</option>
		<option value="bpy">bishnupriya</option>
		<option value="byn">blin</option>
		<option value="brx">bodo</option>
		<option value="bs">bosniaque</option>
		<option value="bum">boulou</option>
		<option value="bua">bouriate</option>
		<option value="brh">brahoui</option>
		<option value="bra">braj</option>
		<option value="br">breton</option>
		<option value="bug">bugi</option>
		<option value="bg">bulgare</option>
		<option value="ks">cachemiri</option>
		<option value="cad">caddo</option>
		<option value="kgp">caingangue</option>
		<option value="yue">cantonais</option>
		<option value="cps">capiznon</option>
		<option value="kea">capverdien</option>
		<option value="krl">carélien</option>
		<option value="car">caribe</option>
		<option value="ca">catalan</option>
		<option value="cay">cayuga</option>
		<option value="ceb">cebuano</option>
		<option value="ch">chamorro</option>
		<option value="ccp">changma kodha</option>
		<option value="chr">cherokee</option>
		<option value="ny">chewa</option>
		<option value="chy">cheyenne</option>
		<option value="chb">chibcha</option>
		<option value="cic">Chickasaw</option>
		<option value="clc">chilcotin</option>
		<option value="zh">chinois</option>
		<option value="lzh">chinois littéraire</option>
		<option value="chp">chipewyan</option>
		<option value="shi">chleuh</option>
		<option value="cho">choctaw</option>
		<option value="chk">chuuk</option>
		<option value="si">cingalais</option>
		<option value="seh">cisena</option>
		<option value="oka">colville-okanagan</option>
		<option value="swb">comorien</option>
		<option value="cop">copte</option>
		<option value="ko">coréen</option>
		<option value="kw">cornique</option>
		<option value="co">corse</option>
		<option value="cr">cree</option>
		<option value="mus">creek</option>
		<option value="ht">créole haïtien</option>
		<option value="jam">créole jamaïcain</option>
		<option value="lou">créole louisianais</option>
		<option value="mfe">créole mauricien</option>
		<option value="crs">créole seychellois</option>
		<option value="crl">cri de l’Est (dialecte du Nord)</option>
		<option value="crj">cri de l’Est (dialecte du Sud)</option>
		<option value="crm">cri de Moose</option>
		<option value="csw">cri des marais</option>
		<option value="crk">cri des plaines</option>
		<option value="hr">croate</option>
		<option value="dak">dakota</option>
		<option value="da">danois</option>
		<option value="dar">dargwa</option>
		<option value="gbz">dari zoroastrien</option>
		<option value="dzg">dazaga</option>
		<option value="del">delaware</option>
		<option value="din">dinka</option>
		<option value="dyo">diola-fogny</option>
		<option value="dyu">dioula</option>
		<option value="doi">dogri</option>
		<option value="dgr">dogrib</option>
		<option value="dua">douala</option>
		<option value="dtp">dusun central</option>
		<option value="dz">dzongkha</option>
		<option value="ike">Eastern Canadian Inuktitut</option>
		<option value="ojg">Eastern Ojibwa</option>
		<option value="sco">écossais</option>
		<option value="efi">éfik</option>
		<option value="egy">égyptien ancien</option>
		<option value="eka">ékadjouk</option>
		<option value="elx">élamite</option>
		<option value="ebu">embu</option>
		<option value="egl">émilien</option>
		<option value="myv">erzya</option>
		<option value="den">esclave</option>
		<option value="es">espagnol</option>
		<option value="eo">espéranto</option>
		<option value="et">estonien</option>
		<option value="ext">estrémègne</option>
		<option value="ee">éwé</option>
		<option value="ewo">éwondo</option>
		<option value="fan">fang</option>
		<option value="fat">fanti</option>
		<option value="fo">féroïen</option>
		<option value="fj">fidjien</option>
		<option value="fil">filipino</option>
		<option value="fi">finnois</option>
		<option value="fit">finnois tornédalien</option>
		<option value="vls">flamand occidental</option>
		<option value="fon">fon</option>
		<option value="fr">français</option>
		<option value="frc">français cadien</option>
		<option value="vmf">franconien du Main</option>
		<option value="frp">francoprovençal</option>
		<option value="fur">frioulan</option>
		<option value="fy">frison occidental</option>
		<option value="frs">frison oriental</option>
		<option value="frr">frison septentrional</option>
		<option value="gaa">ga</option>
		<option value="gd">gaélique écossais</option>
		<option value="gag">gagaouze</option>
		<option value="gl">galicien</option>
		<option value="cy">gallois</option>
		<option value="gan">gan</option>
		<option value="lg">ganda</option>
		<option value="gay">gayo</option>
		<option value="gba">gbaya</option>
		<option value="ka">géorgien</option>
		<option value="bbj">ghomalaʼ</option>
		<option value="glk">gilaki</option>
		<option value="gil">gilbertin</option>
		<option value="gon">gondi</option>
		<option value="gor">gorontalo</option>
		<option value="got">gotique</option>
		<option value="gu">goudjarati</option>
		<option value="grb">grebo</option>
		<option value="el">grec</option>
		<option value="grc">grec ancien</option>
		<option value="kl">groenlandais</option>
		<option value="gn">guarani</option>
		<option value="aln">guègue</option>
		<option value="gez">guèze</option>
		<option value="gur">gurenne</option>
		<option value="guz">gusii</option>
		<option value="gwi">gwichʼin</option>
		<option value="hai">haïda</option>
		<option value="hax">haïda du Sud</option>
		<option value="hak">hakka</option>
		<option value="hur">halkomelem</option>
		<option value="ha">haoussa</option>
		<option value="bgc">Haryanvi</option>
		<option value="hsb">haut-sorabe</option>
		<option value="haw">hawaïen</option>
		<option value="he">hébreu</option>
		<option value="hz">héréro</option>
		<option value="hil">hiligaynon</option>
		<option value="hi">hindi</option>
		<option value="hif">hindi fidjien</option>
		<option value="ho">hiri motu</option>
		<option value="hit">hittite</option>
		<option value="hmn">hmong</option>
		<option value="hnj">Hmong Njua</option>
		<option value="hu">hongrois</option>
		<option value="hup">hupa</option>
		<option value="sah">iakoute</option>
		<option value="iba">iban</option>
		<option value="ibb">ibibio</option>
		<option value="io">ido</option>
		<option value="ig">igbo</option>
		<option value="ilo">ilocano</option>
		<option value="id">indonésien</option>
		<option value="inh">ingouche</option>
		<option value="izh">ingrien</option>
		<option value="moe">innu-aimun</option>
		<option value="ia">interlingua</option>
		<option value="ie">interlingue</option>
		<option value="iu">inuktitut</option>
		<option value="ikt">inuktitut de l’Ouest canadien</option>
		<option value="ik">inupiaq</option>
		<option value="ga">irlandais</option>
		<option value="sbp">isangu</option>
		<option value="is">islandais</option>
		<option value="it">italien</option>
		<option value="ja">japonais</option>
		<option value="chn">jargon chinook</option>
		<option value="jv">javanais</option>
		<option value="kaj">jju</option>
		<option value="jrb">judéo-arabe</option>
		<option value="jpr">judéo-persan</option>
		<option value="jut">jute</option>
		<option value="kbd">kabarde</option>
		<option value="kab">kabyle</option>
		<option value="kac">kachin</option>
		<option value="csb">kachoube</option>
		<option value="kkj">kako</option>
		<option value="kln">kalendjin</option>
		<option value="xal">kalmouk</option>
		<option value="kam">kamba</option>
		<option value="kbl">kanembou</option>
		<option value="kn">kannada</option>
		<option value="kr">kanouri</option>
		<option value="kaa">karakalpak</option>
		<option value="krc">karatchaï balkar</option>
		<option value="kaw">kawi</option>
		<option value="kk">kazakh</option>
		<option value="ken">kényang</option>
		<option value="kha">khasi</option>
		<option value="km">khmer</option>
		<option value="kho">khotanais</option>
		<option value="khw">khowar</option>
		<option value="cgg">kiga</option>
		<option value="kg">kikongo</option>
		<option value="ki">kikuyu</option>
		<option value="kmb">kimboundou</option>
		<option value="krj">kinaray-a</option>
		<option value="rw">kinyarwanda</option>
		<option value="ky">kirghize</option>
		<option value="kiu">kirmanjki</option>
		<option value="tlh">klingon</option>
		<option value="ksh">kölsch</option>
		<option value="bkm">kom</option>
		<option value="kv">komi</option>
		<option value="koi">komi-permiak</option>
		<option value="kok">konkani</option>
		<option value="gom">konkani de Goa</option>
		<option value="kfo">koro</option>
		<option value="kos">kosraéen</option>
		<option value="avk">kotava</option>
		<option value="kum">koumyk</option>
		<option value="kru">kouroukh</option>
		<option value="khq">koyra chiini</option>
		<option value="ses">koyraboro senni</option>
		<option value="kpe">kpellé</option>
		<option value="kri">krio</option>
		<option value="kj">kuanyama</option>
		<option value="ku">kurde</option>
		<option value="sdh">kurde du Sud</option>
		<option value="kut">kutenai</option>
		<option value="kwk">kwak’wala</option>
		<option value="lad">ladino</option>
		<option value="lah">lahnda</option>
		<option value="lkt">lakota</option>
		<option value="lam">lamba</option>
		<option value="lag">langi</option>
		<option value="ase">langue des signes américaine</option>
		<option value="lo">lao</option>
		<option value="ltg">latgalien</option>
		<option value="la">latin</option>
		<option value="lzz">laze</option>
		<option value="lv">letton</option>
		<option value="lez">lezghien</option>
		<option value="lij">ligure</option>
		<option value="lil">lillooet</option>
		<option value="li">limbourgeois</option>
		<option value="ln">lingala</option>
		<option value="lfn">lingua franca nova</option>
		<option value="lt">lituanien</option>
		<option value="liv">livonien</option>
		<option value="jbo">lojban</option>
		<option value="lmo">lombard</option>
		<option value="lrc">lori du Nord</option>
		<option value="loz">lozi</option>
		<option value="lua">luba-kasaï (ciluba)</option>
		<option value="lu">luba-katanga (kiluba)</option>
		<option value="lui">luiseño</option>
		<option value="lun">lunda</option>
		<option value="luo">luo</option>
		<option value="lus">lushaï</option>
		<option value="slh">lushootseed du Sud</option>
		<option value="lb">luxembourgeois</option>
		<option value="luy">luyia</option>
		<option value="mas">maasaï</option>
		<option value="mde">maba</option>
		<option value="mk">macédonien</option>
		<option value="mad">madurais</option>
		<option value="maf">mafa</option>
		<option value="mag">magahi</option>
		<option value="mai">maïthili</option>
		<option value="mak">makassar</option>
		<option value="kde">makondé</option>
		<option value="mgh">makua</option>
		<option value="ms">malais</option>
		<option value="ml">malayalam</option>
		<option value="dv">maldivien</option>
		<option value="pqm">malécite-passamaquoddy</option>
		<option value="mg">malgache</option>
		<option value="mt">maltais</option>
		<option value="mdr">mandar</option>
		<option value="mnc">mandchou</option>
		<option value="man">mandingue</option>
		<option value="mni">manipuri</option>
		<option value="gv">mannois</option>
		<option value="mi">maori</option>
		<option value="arn">mapuche</option>
		<option value="mr">marathi</option>
		<option value="chm">mari</option>
		<option value="mrj">mari occidental</option>
		<option value="mh">marshallais</option>
		<option value="mwr">marwarî</option>
		<option value="jmc">matchamé</option>
		<option value="mzn">mazandérani</option>
		<option value="byv">médumba</option>
		<option value="men">mendé</option>
		<option value="mwv">mentawaï</option>
		<option value="mer">meru</option>
		<option value="mgo">metaʼ</option>
		<option value="mic">micmac</option>
		<option value="min">minangkabau</option>
		<option value="xmf">mingrélien</option>
		<option value="nan">minnan</option>
		<option value="mwl">mirandais</option>
		<option value="crg">mitchif</option>
		<option value="moh">mohawk</option>
		<option value="mdf">mokcha</option>
		<option value="lol">mongo</option>
		<option value="mn">mongol</option>
		<option value="mos">moré</option>
		<option value="mua">moundang</option>
		<option value="enm">moyen anglais</option>
		<option value="frm">moyen français</option>
		<option value="gmh">moyen haut-allemand</option>
		<option value="mga">moyen irlandais</option>
		<option value="dum">moyen néerlandais</option>
		<option value="mye">myènè</option>
		<option value="nqo">n’ko</option>
		<option value="naq">nama</option>
		<option value="nap">napolitain</option>
		<option value="na">nauruan</option>
		<option value="nv">navajo</option>
		<option value="nd">ndébélé du Nord</option>
		<option value="nr">ndébélé du Sud</option>
		<option value="ng">ndonga</option>
		<option value="nl">néerlandais</option>
		<option value="ne">népalais</option>
		<option value="new">newari</option>
		<option value="nwc">newarî classique</option>
		<option value="sba">ngambay</option>
		<option value="nnh">ngiemboon</option>
		<option value="jgo">ngomba</option>
		<option value="nmg">ngoumba</option>
		<option value="yrl">nheengatou</option>
		<option value="nia">niha</option>
		<option value="niu">niuéen</option>
		<option value="nog">nogaï</option>
		<option value="hdn">Northern Haida</option>
		<option value="no">norvégien</option>
		<option value="nb">norvégien bokmål</option>
		<option value="nn">norvégien nynorsk</option>
		<option value="nov">novial</option>
		<option value="nus">nuer</option>
		<option value="nym">nyamwezi</option>
		<option value="nyn">nyankolé</option>
		<option value="nyo">nyoro</option>
		<option value="nzi">nzema</option>
		<option value="ann">obolo</option>
		<option value="oc">occitan</option>
		<option value="or">odia</option>
		<option value="ojs">oji-cri</option>
		<option value="oj">ojibwa</option>
		<option value="ojc">ojibwé central</option>
		<option value="ojb">ojibwé du Nord-Ouest</option>
		<option value="ojw">ojibwé occidental</option>
		<option value="om">oromo</option>
		<option value="osa">osage</option>
		<option value="os">ossète</option>
		<option value="udm">oudmourte</option>
		<option value="uga">ougaritique</option>
		<option value="ug">ouïghour</option>
		<option value="ur">ourdou</option>
		<option value="uz">ouzbek</option>
		<option value="ps">pachto</option>
		<option value="pal">pahlavi</option>
		<option value="pau">palau</option>
		<option value="pi">pali</option>
		<option value="pam">pampangan</option>
		<option value="pag">pangasinan</option>
		<option value="pap">papiamento</option>
		<option value="pa">pendjabi</option>
		<option value="pdc">pennsilfaanisch</option>
		<option value="fa">persan</option>
		<option value="peo">persan ancien</option>
		<option value="ff">peul</option>
		<option value="phn">phénicien</option>
		<option value="pcd">picard</option>
		<option value="pcm">pidgin nigérian</option>
		<option value="pms">piémontais</option>
		<option value="pis">pijin</option>
		<option value="pon">pohnpei</option>
		<option value="pl">polonais</option>
		<option value="pnt">pontique</option>
		<option value="pt">portugais</option>
		<option value="pro">provençal ancien</option>
		<option value="prg">prussien</option>
		<option value="qu">quechua</option>
		<option value="quc">quiché</option>
		<option value="qug">quichua du Haut-Chimborazo</option>
		<option value="raj">rajasthani</option>
		<option value="rap">rapanui</option>
		<option value="rar">rarotongien</option>
		<option value="rif">rifain</option>
		<option value="rhg">rohingya</option>
		<option value="rgn">romagnol</option>
		<option value="rm">romanche</option>
		<option value="rom">romani</option>
		<option value="rof">rombo</option>
		<option value="rtm">rotuman</option>
		<option value="ro">roumain</option>
		<option value="rn">roundi</option>
		<option value="rug">roviana</option>
		<option value="ru">russe</option>
		<option value="rue">ruthène</option>
		<option value="rwk">rwa</option>
		<option value="ssy">saho</option>
		<option value="str">salish des détroits</option>
		<option value="saq">samburu</option>
		<option value="smn">same d’Inari</option>
		<option value="smj">same de Lule</option>
		<option value="se">same du Nord</option>
		<option value="sma">same du Sud</option>
		<option value="sms">same skolt</option>
		<option value="lsm">samia</option>
		<option value="sm">samoan</option>
		<option value="sgs">samogitien</option>
		<option value="sad">sandawe</option>
		<option value="sg">sango</option>
		<option value="sa">sanskrit</option>
		<option value="sat">santali</option>
		<option value="sc">sarde</option>
		<option value="sdc">sarde sassarais</option>
		<option value="sas">sasak</option>
		<option value="stq">saterlandais</option>
		<option value="saz">saurashtra</option>
		<option value="sly">sélayar</option>
		<option value="sel">selkoupe</option>
		<option value="see">seneca</option>
		<option value="sr">serbe</option>
		<option value="sh">serbo-croate</option>
		<option value="srr">sérère</option>
		<option value="sei">séri</option>
		<option value="ksb">shambala</option>
		<option value="shn">shan</option>
		<option value="sn">shona</option>
		<option value="scn">sicilien</option>
		<option value="sid">sidamo</option>
		<option value="bla">siksika</option>
		<option value="szl">silésien</option>
		<option value="sd">sindhi</option>
		<option value="cu">slavon d’église</option>
		<option value="sk">slovaque</option>
		<option value="sl">slovène</option>
		<option value="xog">soga</option>
		<option value="sog">sogdien</option>
		<option value="so">somali</option>
		<option value="snk">soninké</option>
		<option value="ckb">sorani</option>
		<option value="nso">sotho du Nord</option>
		<option value="st">sotho du Sud</option>
		<option value="suk">soukouma</option>
		<option value="su">soundanais</option>
		<option value="sus">soussou</option>
		<option value="srn">sranan tongo</option>
		<option value="sv">suédois</option>
		<option value="gsw">suisse allemand</option>
		<option value="sux">sumérien</option>
		<option value="sw">swahili</option>
		<option value="ss">swati</option>
		<option value="zbl">symboles Bliss</option>
		<option value="syr">syriaque</option>
		<option value="syc">syriaque classique</option>
		<option value="tg">tadjik</option>
		<option value="tl">tagalog</option>
		<option value="tgx">tagish</option>
		<option value="ty">tahitien</option>
		<option value="tht">tahltan</option>
		<option value="blt">Tai Dam</option>
		<option value="dav">taita</option>
		<option value="tly">talysh</option>
		<option value="tmh">tamacheq</option>
		<option value="ta">tamoul</option>
		<option value="trv">taroko</option>
		<option value="twq">tasawaq</option>
		<option value="tt">tatar</option>
		<option value="crh">tatar de Crimée</option>
		<option value="ttt">tati caucasien</option>
		<option value="chg">tchaghataï</option>
		<option value="cs">tchèque</option>
		<option value="ce">tchétchène</option>
		<option value="cv">tchouvache</option>
		<option value="te">télougou</option>
		<option value="ter">tereno</option>
		<option value="teo">teso</option>
		<option value="tet">tétoum</option>
		<option value="th">thaï</option>
		<option value="bo">tibétain</option>
		<option value="tig">tigré</option>
		<option value="ti">tigrigna</option>
		<option value="tem">timné</option>
		<option value="tiv">tiv</option>
		<option value="tli">tlingit</option>
		<option value="tpi">tok pisin</option>
		<option value="tkl">tokelau</option>
		<option value="tok">toki pona</option>
		<option value="tog">tonga nyasa</option>
		<option value="to">tongien</option>
		<option value="trw">Torwali</option>
		<option value="tcy">toulou</option>
		<option value="tru">touroyo</option>
		<option value="tyv">touvain</option>
		<option value="tkr">tsakhour</option>
		<option value="tsd">tsakonien</option>
		<option value="tsi">tsimshian</option>
		<option value="ts">tsonga</option>
		<option value="tn">tswana</option>
		<option value="tum">tumbuka</option>
		<option value="tr">turc</option>
		<option value="ota">turc ottoman</option>
		<option value="tk">turkmène</option>
		<option value="ttm">tutchone du Nord</option>
		<option value="tce">tutchone du Sud</option>
		<option value="tvl">tuvalu</option>
		<option value="tw">twi</option>
		<option value="kcg">tyap</option>
		<option value="uk">ukrainien</option>
		<option value="umb">umbundu</option>
		<option value="vai">vaï</option>
		<option value="ve">venda</option>
		<option value="vec">vénitien</option>
		<option value="vep">vepse</option>
		<option value="vi">vietnamien</option>
		<option value="non">vieux norrois</option>
		<option value="vo">volapük</option>
		<option value="vro">võro</option>
		<option value="vot">vote</option>
		<option value="vun">vunjo</option>
		<option value="wal">walamo</option>
		<option value="wa">wallon</option>
		<option value="wae">walser</option>
		<option value="war">waray</option>
		<option value="wbp">warlpiri</option>
		<option value="was">washo</option>
		<option value="guc">wayuu</option>
		<option value="wo">wolof</option>
		<option value="cwd">Woods Cree</option>
		<option value="wuu">wu</option>
		<option value="xh">xhosa</option>
		<option value="hsn">xiang</option>
		<option value="yav">yangben</option>
		<option value="yao">yao</option>
		<option value="yap">yapois</option>
		<option value="ybb">yemba</option>
		<option value="ii">yi du Sichuan</option>
		<option value="yi">yiddish</option>
		<option value="yo">yoruba</option>
		<option value="esu">youpik central</option>
		<option value="zap">zapotèque</option>
		<option value="dje">zarma</option>
		<option value="zza">zazaki</option>
		<option value="zea">zélandais</option>
		<option value="zen">zenaga</option>
		<option value="za">zhuang</option>
		<option value="zu">zoulou</option>
		<option value="zun">zuñi</option>
	</select>
	<div id="form_choice_0_language_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
