<div class="form-group">
	<label class="required" for="form_choice_0_locale">Locale</label>
	<div class="btn-group float-end" role="group">
		<label class="required" for="form_choice_0_locale"></label>
	</div>
	<select id="form_choice_0_locale" name="form[choice][0][locale]" aria-describedby="form_choice_0_locale_help" is="select-selector">
		<option value="af">afrikaans</option>
		<option value="af_ZA">afrikaans (Afrique du Sud)</option>
		<option value="af_NA">afrikaans (Namibie)</option>
		<option value="ak">akan</option>
		<option value="ak_GH">akan (Ghana)</option>
		<option value="sq">albanais</option>
		<option value="sq_AL">albanais (Albanie)</option>
		<option value="sq_MK">albanais (Macédoine du Nord)</option>
		<option value="de">allemand</option>
		<option value="de_DE">allemand (Allemagne)</option>
		<option value="de_AT">allemand (Autriche)</option>
		<option value="de_BE">allemand (Belgique)</option>
		<option value="de_IT">allemand (Italie)</option>
		<option value="de_LI">allemand (Liechtenstein)</option>
		<option value="de_LU">allemand (Luxembourg)</option>
		<option value="de_CH">allemand (Suisse)</option>
		<option value="am">amharique</option>
		<option value="am_ET">amharique (Éthiopie)</option>
		<option value="en">anglais</option>
		<option value="en_ZA">anglais (Afrique du Sud)</option>
		<option value="en_DE">anglais (Allemagne)</option>
		<option value="en_AI">anglais (Anguilla)</option>
		<option value="en_AG">anglais (Antigua-et-Barbuda)</option>
		<option value="en_AU">anglais (Australie)</option>
		<option value="en_AT">anglais (Autriche)</option>
		<option value="en_BS">anglais (Bahamas)</option>
		<option value="en_BB">anglais (Barbade)</option>
		<option value="en_BE">anglais (Belgique)</option>
		<option value="en_BZ">anglais (Belize)</option>
		<option value="en_BM">anglais (Bermudes)</option>
		<option value="en_BW">anglais (Botswana)</option>
		<option value="en_BI">anglais (Burundi)</option>
		<option value="en_CM">anglais (Cameroun)</option>
		<option value="en_CA">anglais (Canada)</option>
		<option value="en_CY">anglais (Chypre)</option>
		<option value="en_DK">anglais (Danemark)</option>
		<option value="en_DM">anglais (Dominique)</option>
		<option value="en_AE">anglais (Émirats arabes unis)</option>
		<option value="en_ER">anglais (Érythrée)</option>
		<option value="en_SZ">anglais (Eswatini)</option>
		<option value="en_US">anglais (États-Unis)</option>
		<option value="en_150">anglais (Europe)</option>
		<option value="en_FJ">anglais (Fidji)</option>
		<option value="en_FI">anglais (Finlande)</option>
		<option value="en_GM">anglais (Gambie)</option>
		<option value="en_GH">anglais (Ghana)</option>
		<option value="en_GI">anglais (Gibraltar)</option>
		<option value="en_GD">anglais (Grenade)</option>
		<option value="en_GU">anglais (Guam)</option>
		<option value="en_GG">anglais (Guernesey)</option>
		<option value="en_GY">anglais (Guyana)</option>
		<option value="en_CX">anglais (Île Christmas)</option>
		<option value="en_IM">anglais (Île de Man)</option>
		<option value="en_NF">anglais (Île Norfolk)</option>
		<option value="en_KY">anglais (Îles Caïmans)</option>
		<option value="en_CC">anglais (Îles Cocos)</option>
		<option value="en_CK">anglais (Îles Cook)</option>
		<option value="en_FK">anglais (Îles Malouines)</option>
		<option value="en_MP">anglais (Îles Mariannes du Nord)</option>
		<option value="en_MH">anglais (Îles Marshall)</option>
		<option value="en_UM">anglais (Îles mineures éloignées des États-Unis)</option>
		<option value="en_PN">anglais (Îles Pitcairn)</option>
		<option value="en_SB">anglais (Îles Salomon)</option>
		<option value="en_TC">anglais (Îles Turques-et-Caïques)</option>
		<option value="en_VG">anglais (Îles Vierges britanniques)</option>
		<option value="en_VI">anglais (Îles Vierges des États-Unis)</option>
		<option value="en_IN">anglais (Inde)</option>
		<option value="en_IE">anglais (Irlande)</option>
		<option value="en_IL">anglais (Israël)</option>
		<option value="en_JM">anglais (Jamaïque)</option>
		<option value="en_JE">anglais (Jersey)</option>
		<option value="en_KE">anglais (Kenya)</option>
		<option value="en_KI">anglais (Kiribati)</option>
		<option value="en_LS">anglais (Lesotho)</option>
		<option value="en_LR">anglais (Liberia)</option>
		<option value="en_MG">anglais (Madagascar)</option>
		<option value="en_MY">anglais (Malaisie)</option>
		<option value="en_MW">anglais (Malawi)</option>
		<option value="en_MV">anglais (Maldives)</option>
		<option value="en_MT">anglais (Malte)</option>
		<option value="en_MU">anglais (Maurice)</option>
		<option value="en_FM">anglais (Micronésie)</option>
		<option value="en_001">anglais (Monde)</option>
		<option value="en_MS">anglais (Montserrat)</option>
		<option value="en_NA">anglais (Namibie)</option>
		<option value="en_NR">anglais (Nauru)</option>
		<option value="en_NG">anglais (Nigeria)</option>
		<option value="en_NU">anglais (Niue)</option>
		<option value="en_NZ">anglais (Nouvelle-Zélande)</option>
		<option value="en_UG">anglais (Ouganda)</option>
		<option value="en_PK">anglais (Pakistan)</option>
		<option value="en_PW">anglais (Palaos)</option>
		<option value="en_PG">anglais (Papouasie-Nouvelle-Guinée)</option>
		<option value="en_NL">anglais (Pays-Bas)</option>
		<option value="en_PH">anglais (Philippines)</option>
		<option value="en_PR">anglais (Porto Rico)</option>
		<option value="en_HK">anglais (R.A.S. chinoise de Hong Kong)</option>
		<option value="en_MO">anglais (R.A.S. chinoise de Macao)</option>
		<option value="en_GB">anglais (Royaume-Uni)</option>
		<option value="en_RW">anglais (Rwanda)</option>
		<option value="en_KN">anglais (Saint-Christophe-et-Niévès)</option>
		<option value="en_SX">anglais (Saint-Martin [partie néerlandaise])</option>
		<option value="en_VC">anglais (Saint-Vincent-et-les Grenadines)</option>
		<option value="en_SH">anglais (Sainte-Hélène)</option>
		<option value="en_LC">anglais (Sainte-Lucie)</option>
		<option value="en_AS">anglais (Samoa américaines)</option>
		<option value="en_WS">anglais (Samoa)</option>
		<option value="en_SC">anglais (Seychelles)</option>
		<option value="en_SL">anglais (Sierra Leone)</option>
		<option value="en_SG">anglais (Singapour)</option>
		<option value="en_SI">anglais (Slovénie)</option>
		<option value="en_SS">anglais (Soudan du Sud)</option>
		<option value="en_SD">anglais (Soudan)</option>
		<option value="en_SE">anglais (Suède)</option>
		<option value="en_CH">anglais (Suisse)</option>
		<option value="en_TZ">anglais (Tanzanie)</option>
		<option value="en_IO">anglais (Territoire britannique de l’océan Indien)</option>
		<option value="en_TK">anglais (Tokelau)</option>
		<option value="en_TO">anglais (Tonga)</option>
		<option value="en_TT">anglais (Trinité-et-Tobago)</option>
		<option value="en_TV">anglais (Tuvalu)</option>
		<option value="en_VU">anglais (Vanuatu)</option>
		<option value="en_ZM">anglais (Zambie)</option>
		<option value="en_ZW">anglais (Zimbabwe)</option>
		<option value="ar">arabe</option>
		<option value="ar_DZ">arabe (Algérie)</option>
		<option value="ar_SA">arabe (Arabie saoudite)</option>
		<option value="ar_BH">arabe (Bahreïn)</option>
		<option value="ar_KM">arabe (Comores)</option>
		<option value="ar_DJ">arabe (Djibouti)</option>
		<option value="ar_EG">arabe (Égypte)</option>
		<option value="ar_AE">arabe (Émirats arabes unis)</option>
		<option value="ar_ER">arabe (Érythrée)</option>
		<option value="ar_IQ">arabe (Irak)</option>
		<option value="ar_IL">arabe (Israël)</option>
		<option value="ar_JO">arabe (Jordanie)</option>
		<option value="ar_KW">arabe (Koweït)</option>
		<option value="ar_LB">arabe (Liban)</option>
		<option value="ar_LY">arabe (Libye)</option>
		<option value="ar_MA">arabe (Maroc)</option>
		<option value="ar_MR">arabe (Mauritanie)</option>
		<option value="ar_001">arabe (Monde)</option>
		<option value="ar_OM">arabe (Oman)</option>
		<option value="ar_QA">arabe (Qatar)</option>
		<option value="ar_EH">arabe (Sahara occidental)</option>
		<option value="ar_SO">arabe (Somalie)</option>
		<option value="ar_SS">arabe (Soudan du Sud)</option>
		<option value="ar_SD">arabe (Soudan)</option>
		<option value="ar_SY">arabe (Syrie)</option>
		<option value="ar_TD">arabe (Tchad)</option>
		<option value="ar_PS">arabe (Territoires palestiniens)</option>
		<option value="ar_TN">arabe (Tunisie)</option>
		<option value="ar_YE">arabe (Yémen)</option>
		<option value="hy">arménien</option>
		<option value="hy_AM">arménien (Arménie)</option>
		<option value="as">assamais</option>
		<option value="as_IN">assamais (Inde)</option>
		<option value="az">azerbaïdjanais</option>
		<option value="az_AZ">azerbaïdjanais (Azerbaïdjan)</option>
		<option value="az_Cyrl_AZ">azerbaïdjanais (cyrillique, Azerbaïdjan)</option>
		<option value="az_Cyrl">azerbaïdjanais (cyrillique)</option>
		<option value="az_Latn_AZ">azerbaïdjanais (latin, Azerbaïdjan)</option>
		<option value="az_Latn">azerbaïdjanais (latin)</option>
		<option value="bm">bambara</option>
		<option value="bm_ML">bambara (Mali)</option>
		<option value="eu">basque</option>
		<option value="eu_ES">basque (Espagne)</option>
		<option value="bn">bengali</option>
		<option value="bn_BD">bengali (Bangladesh)</option>
		<option value="bn_IN">bengali (Inde)</option>
		<option value="be">biélorusse</option>
		<option value="be_BY">biélorusse (Biélorussie)</option>
		<option value="my">birman</option>
		<option value="my_MM">birman (Myanmar [Birmanie])</option>
		<option value="bs">bosniaque</option>
		<option value="bs_BA">bosniaque (Bosnie-Herzégovine)</option>
		<option value="bs_Cyrl_BA">bosniaque (cyrillique, Bosnie-Herzégovine)</option>
		<option value="bs_Cyrl">bosniaque (cyrillique)</option>
		<option value="bs_Latn_BA">bosniaque (latin, Bosnie-Herzégovine)</option>
		<option value="bs_Latn">bosniaque (latin)</option>
		<option value="br">breton</option>
		<option value="br_FR">breton (France)</option>
		<option value="bg">bulgare</option>
		<option value="bg_BG">bulgare (Bulgarie)</option>
		<option value="ks">cachemiri</option>
		<option value="ks_Arab_IN">cachemiri (arabe, Inde)</option>
		<option value="ks_Arab">cachemiri (arabe)</option>
		<option value="ks_Deva_IN">cachemiri (dévanagari, Inde)</option>
		<option value="ks_Deva">cachemiri (dévanagari)</option>
		<option value="ks_IN">cachemiri (Inde)</option>
		<option value="ca">catalan</option>
		<option value="ca_AD">catalan (Andorre)</option>
		<option value="ca_ES">catalan (Espagne)</option>
		<option value="ca_FR">catalan (France)</option>
		<option value="ca_IT">catalan (Italie)</option>
		<option value="zh">chinois</option>
		<option value="zh_CN">chinois (Chine)</option>
		<option value="zh_HK">chinois (R.A.S. chinoise de Hong Kong)</option>
		<option value="zh_MO">chinois (R.A.S. chinoise de Macao)</option>
		<option value="zh_Hans_CN">chinois (simplifié, Chine)</option>
		<option value="zh_Hans_HK">chinois (simplifié, R.A.S. chinoise de Hong Kong)</option>
		<option value="zh_Hans_MO">chinois (simplifié, R.A.S. chinoise de Macao)</option>
		<option value="zh_Hans_SG">chinois (simplifié, Singapour)</option>
		<option value="zh_Hans">chinois (simplifié)</option>
		<option value="zh_SG">chinois (Singapour)</option>
		<option value="zh_TW">chinois (Taïwan)</option>
		<option value="zh_Hant_HK">chinois (traditionnel, R.A.S. chinoise de Hong Kong)</option>
		<option value="zh_Hant_MO">chinois (traditionnel, R.A.S. chinoise de Macao)</option>
		<option value="zh_Hant_TW">chinois (traditionnel, Taïwan)</option>
		<option value="zh_Hant">chinois (traditionnel)</option>
		<option value="si">cingalais</option>
		<option value="si_LK">cingalais (Sri Lanka)</option>
		<option value="ko">coréen</option>
		<option value="ko_KP">coréen (Corée du Nord)</option>
		<option value="ko_KR">coréen (Corée du Sud)</option>
		<option value="kw">cornique</option>
		<option value="kw_GB">cornique (Royaume-Uni)</option>
		<option value="hr">croate</option>
		<option value="hr_BA">croate (Bosnie-Herzégovine)</option>
		<option value="hr_HR">croate (Croatie)</option>
		<option value="da">danois</option>
		<option value="da_DK">danois (Danemark)</option>
		<option value="da_GL">danois (Groenland)</option>
		<option value="dz">dzongkha</option>
		<option value="dz_BT">dzongkha (Bhoutan)</option>
		<option value="es">espagnol</option>
		<option value="es_419">espagnol (Amérique latine)</option>
		<option value="es_AR">espagnol (Argentine)</option>
		<option value="es_BZ">espagnol (Belize)</option>
		<option value="es_BO">espagnol (Bolivie)</option>
		<option value="es_BR">espagnol (Brésil)</option>
		<option value="es_CL">espagnol (Chili)</option>
		<option value="es_CO">espagnol (Colombie)</option>
		<option value="es_CR">espagnol (Costa Rica)</option>
		<option value="es_CU">espagnol (Cuba)</option>
		<option value="es_EC">espagnol (Équateur)</option>
		<option value="es_ES">espagnol (Espagne)</option>
		<option value="es_US">espagnol (États-Unis)</option>
		<option value="es_GT">espagnol (Guatemala)</option>
		<option value="es_GQ">espagnol (Guinée équatoriale)</option>
		<option value="es_HN">espagnol (Honduras)</option>
		<option value="es_MX">espagnol (Mexique)</option>
		<option value="es_NI">espagnol (Nicaragua)</option>
		<option value="es_PA">espagnol (Panama)</option>
		<option value="es_PY">espagnol (Paraguay)</option>
		<option value="es_PE">espagnol (Pérou)</option>
		<option value="es_PH">espagnol (Philippines)</option>
		<option value="es_PR">espagnol (Porto Rico)</option>
		<option value="es_DO">espagnol (République dominicaine)</option>
		<option value="es_SV">espagnol (Salvador)</option>
		<option value="es_UY">espagnol (Uruguay)</option>
		<option value="es_VE">espagnol (Venezuela)</option>
		<option value="eo">espéranto</option>
		<option value="eo_001">espéranto (Monde)</option>
		<option value="et">estonien</option>
		<option value="et_EE">estonien (Estonie)</option>
		<option value="ee">éwé</option>
		<option value="ee_GH">éwé (Ghana)</option>
		<option value="ee_TG">éwé (Togo)</option>
		<option value="fo">féroïen</option>
		<option value="fo_DK">féroïen (Danemark)</option>
		<option value="fo_FO">féroïen (Îles Féroé)</option>
		<option value="fi">finnois</option>
		<option value="fi_FI">finnois (Finlande)</option>
		<option value="fr">français</option>
		<option value="fr_DZ">français (Algérie)</option>
		<option value="fr_BE">français (Belgique)</option>
		<option value="fr_BJ">français (Bénin)</option>
		<option value="fr_BF">français (Burkina Faso)</option>
		<option value="fr_BI">français (Burundi)</option>
		<option value="fr_CM">français (Cameroun)</option>
		<option value="fr_CA">français (Canada)</option>
		<option value="fr_KM">français (Comores)</option>
		<option value="fr_CG">français (Congo-Brazzaville)</option>
		<option value="fr_CD">français (Congo-Kinshasa)</option>
		<option value="fr_CI">français (Côte d’Ivoire)</option>
		<option value="fr_DJ">français (Djibouti)</option>
		<option value="fr_FR">français (France)</option>
		<option value="fr_GA">français (Gabon)</option>
		<option value="fr_GP">français (Guadeloupe)</option>
		<option value="fr_GQ">français (Guinée équatoriale)</option>
		<option value="fr_GN">français (Guinée)</option>
		<option value="fr_GF">français (Guyane française)</option>
		<option value="fr_HT">français (Haïti)</option>
		<option value="fr_RE">français (La Réunion)</option>
		<option value="fr_LU">français (Luxembourg)</option>
		<option value="fr_MG">français (Madagascar)</option>
		<option value="fr_ML">français (Mali)</option>
		<option value="fr_MA">français (Maroc)</option>
		<option value="fr_MQ">français (Martinique)</option>
		<option value="fr_MU">français (Maurice)</option>
		<option value="fr_MR">français (Mauritanie)</option>
		<option value="fr_YT">français (Mayotte)</option>
		<option value="fr_MC">français (Monaco)</option>
		<option value="fr_NE">français (Niger)</option>
		<option value="fr_NC">français (Nouvelle-Calédonie)</option>
		<option value="fr_PF">français (Polynésie française)</option>
		<option value="fr_CF">français (République centrafricaine)</option>
		<option value="fr_RW">français (Rwanda)</option>
		<option value="fr_BL">français (Saint-Barthélemy)</option>
		<option value="fr_MF">français (Saint-Martin)</option>
		<option value="fr_PM">français (Saint-Pierre-et-Miquelon)</option>
		<option value="fr_SN">français (Sénégal)</option>
		<option value="fr_SC">français (Seychelles)</option>
		<option value="fr_CH">français (Suisse)</option>
		<option value="fr_SY">français (Syrie)</option>
		<option value="fr_TD">français (Tchad)</option>
		<option value="fr_TG">français (Togo)</option>
		<option value="fr_TN">français (Tunisie)</option>
		<option value="fr_VU">français (Vanuatu)</option>
		<option value="fr_WF">français (Wallis-et-Futuna)</option>
		<option value="fy">frison occidental</option>
		<option value="fy_NL">frison occidental (Pays-Bas)</option>
		<option value="gd">gaélique écossais</option>
		<option value="gd_GB">gaélique écossais (Royaume-Uni)</option>
		<option value="gl">galicien</option>
		<option value="gl_ES">galicien (Espagne)</option>
		<option value="cy">gallois</option>
		<option value="cy_GB">gallois (Royaume-Uni)</option>
		<option value="lg">ganda</option>
		<option value="lg_UG">ganda (Ouganda)</option>
		<option value="ka">géorgien</option>
		<option value="ka_GE">géorgien (Géorgie)</option>
		<option value="gu">goudjarati</option>
		<option value="gu_IN">goudjarati (Inde)</option>
		<option value="el">grec</option>
		<option value="el_CY">grec (Chypre)</option>
		<option value="el_GR">grec (Grèce)</option>
		<option value="kl">groenlandais</option>
		<option value="kl_GL">groenlandais (Groenland)</option>
		<option value="ha">haoussa</option>
		<option value="ha_GH">haoussa (Ghana)</option>
		<option value="ha_NE">haoussa (Niger)</option>
		<option value="ha_NG">haoussa (Nigeria)</option>
		<option value="he">hébreu</option>
		<option value="he_IL">hébreu (Israël)</option>
		<option value="hi">hindi</option>
		<option value="hi_IN">hindi (Inde)</option>
		<option value="hi_Latn_IN">hindi (latin, Inde)</option>
		<option value="hi_Latn">hindi (latin)</option>
		<option value="hu">hongrois</option>
		<option value="hu_HU">hongrois (Hongrie)</option>
		<option value="ig">igbo</option>
		<option value="ig_NG">igbo (Nigeria)</option>
		<option value="id">indonésien</option>
		<option value="id_ID">indonésien (Indonésie)</option>
		<option value="ia">interlingua</option>
		<option value="ia_001">interlingua (Monde)</option>
		<option value="ga">irlandais</option>
		<option value="ga_IE">irlandais (Irlande)</option>
		<option value="ga_GB">irlandais (Royaume-Uni)</option>
		<option value="is">islandais</option>
		<option value="is_IS">islandais (Islande)</option>
		<option value="it">italien</option>
		<option value="it_VA">italien (État de la Cité du Vatican)</option>
		<option value="it_IT">italien (Italie)</option>
		<option value="it_SM">italien (Saint-Marin)</option>
		<option value="it_CH">italien (Suisse)</option>
		<option value="ja">japonais</option>
		<option value="ja_JP">japonais (Japon)</option>
		<option value="jv">javanais</option>
		<option value="jv_ID">javanais (Indonésie)</option>
		<option value="kn">kannada</option>
		<option value="kn_IN">kannada (Inde)</option>
		<option value="kk">kazakh</option>
		<option value="kk_KZ">kazakh (Kazakhstan)</option>
		<option value="km">khmer</option>
		<option value="km_KH">khmer (Cambodge)</option>
		<option value="ki">kikuyu</option>
		<option value="ki_KE">kikuyu (Kenya)</option>
		<option value="rw">kinyarwanda</option>
		<option value="rw_RW">kinyarwanda (Rwanda)</option>
		<option value="ky">kirghize</option>
		<option value="ky_KG">kirghize (Kirghizstan)</option>
		<option value="ku">kurde</option>
		<option value="ku_TR">kurde (Turquie)</option>
		<option value="lo">lao</option>
		<option value="lo_LA">lao (Laos)</option>
		<option value="lv">letton</option>
		<option value="lv_LV">letton (Lettonie)</option>
		<option value="ln">lingala</option>
		<option value="ln_AO">lingala (Angola)</option>
		<option value="ln_CG">lingala (Congo-Brazzaville)</option>
		<option value="ln_CD">lingala (Congo-Kinshasa)</option>
		<option value="ln_CF">lingala (République centrafricaine)</option>
		<option value="lt">lituanien</option>
		<option value="lt_LT">lituanien (Lituanie)</option>
		<option value="lu">luba-katanga [kiluba]</option>
		<option value="lu_CD">luba-katanga [kiluba] (Congo-Kinshasa)</option>
		<option value="lb">luxembourgeois</option>
		<option value="lb_LU">luxembourgeois (Luxembourg)</option>
		<option value="mk">macédonien</option>
		<option value="mk_MK">macédonien (Macédoine du Nord)</option>
		<option value="ms">malais</option>
		<option value="ms_BN">malais (Brunei)</option>
		<option value="ms_ID">malais (Indonésie)</option>
		<option value="ms_MY">malais (Malaisie)</option>
		<option value="ms_SG">malais (Singapour)</option>
		<option value="ml">malayalam</option>
		<option value="ml_IN">malayalam (Inde)</option>
		<option value="mg">malgache</option>
		<option value="mg_MG">malgache (Madagascar)</option>
		<option value="mt">maltais</option>
		<option value="mt_MT">maltais (Malte)</option>
		<option value="gv">mannois</option>
		<option value="gv_IM">mannois (Île de Man)</option>
		<option value="mi">maori</option>
		<option value="mi_NZ">maori (Nouvelle-Zélande)</option>
		<option value="mr">marathi</option>
		<option value="mr_IN">marathi (Inde)</option>
		<option value="mn">mongol</option>
		<option value="mn_MN">mongol (Mongolie)</option>
		<option value="nd">ndébélé du Nord</option>
		<option value="nd_ZW">ndébélé du Nord (Zimbabwe)</option>
		<option value="nl">néerlandais</option>
		<option value="nl_AW">néerlandais (Aruba)</option>
		<option value="nl_BE">néerlandais (Belgique)</option>
		<option value="nl_CW">néerlandais (Curaçao)</option>
		<option value="nl_BQ">néerlandais (Pays-Bas caribéens)</option>
		<option value="nl_NL">néerlandais (Pays-Bas)</option>
		<option value="nl_SX">néerlandais (Saint-Martin [partie néerlandaise])</option>
		<option value="nl_SR">néerlandais (Suriname)</option>
		<option value="ne">népalais</option>
		<option value="ne_IN">népalais (Inde)</option>
		<option value="ne_NP">népalais (Népal)</option>
		<option value="no">norvégien</option>
		<option value="no_NO">norvégien (Norvège)</option>
		<option value="nb">norvégien bokmål</option>
		<option value="nb_NO">norvégien bokmål (Norvège)</option>
		<option value="nb_SJ">norvégien bokmål (Svalbard et Jan Mayen)</option>
		<option value="nn">norvégien nynorsk</option>
		<option value="nn_NO">norvégien nynorsk (Norvège)</option>
		<option value="or">odia</option>
		<option value="or_IN">odia (Inde)</option>
		<option value="om">oromo</option>
		<option value="om_ET">oromo (Éthiopie)</option>
		<option value="om_KE">oromo (Kenya)</option>
		<option value="os">ossète</option>
		<option value="os_GE">ossète (Géorgie)</option>
		<option value="os_RU">ossète (Russie)</option>
		<option value="ug">ouïghour</option>
		<option value="ug_CN">ouïghour (Chine)</option>
		<option value="ur">ourdou</option>
		<option value="ur_IN">ourdou (Inde)</option>
		<option value="ur_PK">ourdou (Pakistan)</option>
		<option value="uz">ouzbek</option>
		<option value="uz_AF">ouzbek (Afghanistan)</option>
		<option value="uz_Arab_AF">ouzbek (arabe, Afghanistan)</option>
		<option value="uz_Arab">ouzbek (arabe)</option>
		<option value="uz_Cyrl_UZ">ouzbek (cyrillique, Ouzbékistan)</option>
		<option value="uz_Cyrl">ouzbek (cyrillique)</option>
		<option value="uz_Latn_UZ">ouzbek (latin, Ouzbékistan)</option>
		<option value="uz_Latn">ouzbek (latin)</option>
		<option value="uz_UZ">ouzbek (Ouzbékistan)</option>
		<option value="ps">pachto</option>
		<option value="ps_AF">pachto (Afghanistan)</option>
		<option value="ps_PK">pachto (Pakistan)</option>
		<option value="pa">pendjabi</option>
		<option value="pa_Arab_PK">pendjabi (arabe, Pakistan)</option>
		<option value="pa_Arab">pendjabi (arabe)</option>
		<option value="pa_Guru_IN">pendjabi (gourmoukhî, Inde)</option>
		<option value="pa_Guru">pendjabi (gourmoukhî)</option>
		<option value="pa_IN">pendjabi (Inde)</option>
		<option value="pa_PK">pendjabi (Pakistan)</option>
		<option value="fa">persan</option>
		<option value="fa_AF">persan (Afghanistan)</option>
		<option value="fa_IR">persan (Iran)</option>
		<option value="ff">peul</option>
		<option value="ff_Adlm_BF">peul (adlam, Burkina Faso)</option>
		<option value="ff_Adlm_CM">peul (adlam, Cameroun)</option>
		<option value="ff_Adlm_GM">peul (adlam, Gambie)</option>
		<option value="ff_Adlm_GH">peul (adlam, Ghana)</option>
		<option value="ff_Adlm_GW">peul (adlam, Guinée-Bissau)</option>
		<option value="ff_Adlm_GN">peul (adlam, Guinée)</option>
		<option value="ff_Adlm_LR">peul (adlam, Liberia)</option>
		<option value="ff_Adlm_MR">peul (adlam, Mauritanie)</option>
		<option value="ff_Adlm_NE">peul (adlam, Niger)</option>
		<option value="ff_Adlm_NG">peul (adlam, Nigeria)</option>
		<option value="ff_Adlm_SN">peul (adlam, Sénégal)</option>
		<option value="ff_Adlm_SL">peul (adlam, Sierra Leone)</option>
		<option value="ff_Adlm">peul (adlam)</option>
		<option value="ff_CM">peul (Cameroun)</option>
		<option value="ff_GN">peul (Guinée)</option>
		<option value="ff_Latn_BF">peul (latin, Burkina Faso)</option>
		<option value="ff_Latn_CM">peul (latin, Cameroun)</option>
		<option value="ff_Latn_GM">peul (latin, Gambie)</option>
		<option value="ff_Latn_GH">peul (latin, Ghana)</option>
		<option value="ff_Latn_GW">peul (latin, Guinée-Bissau)</option>
		<option value="ff_Latn_GN">peul (latin, Guinée)</option>
		<option value="ff_Latn_LR">peul (latin, Liberia)</option>
		<option value="ff_Latn_MR">peul (latin, Mauritanie)</option>
		<option value="ff_Latn_NE">peul (latin, Niger)</option>
		<option value="ff_Latn_NG">peul (latin, Nigeria)</option>
		<option value="ff_Latn_SN">peul (latin, Sénégal)</option>
		<option value="ff_Latn_SL">peul (latin, Sierra Leone)</option>
		<option value="ff_Latn">peul (latin)</option>
		<option value="ff_MR">peul (Mauritanie)</option>
		<option value="ff_SN">peul (Sénégal)</option>
		<option value="pl">polonais</option>
		<option value="pl_PL">polonais (Pologne)</option>
		<option value="pt">portugais</option>
		<option value="pt_AO">portugais (Angola)</option>
		<option value="pt_BR">portugais (Brésil)</option>
		<option value="pt_CV">portugais (Cap-Vert)</option>
		<option value="pt_GQ">portugais (Guinée équatoriale)</option>
		<option value="pt_GW">portugais (Guinée-Bissau)</option>
		<option value="pt_LU">portugais (Luxembourg)</option>
		<option value="pt_MZ">portugais (Mozambique)</option>
		<option value="pt_PT">portugais (Portugal)</option>
		<option value="pt_MO">portugais (R.A.S. chinoise de Macao)</option>
		<option value="pt_ST">portugais (Sao Tomé-et-Principe)</option>
		<option value="pt_CH">portugais (Suisse)</option>
		<option value="pt_TL">portugais (Timor oriental)</option>
		<option value="qu">quechua</option>
		<option value="qu_BO">quechua (Bolivie)</option>
		<option value="qu_EC">quechua (Équateur)</option>
		<option value="qu_PE">quechua (Pérou)</option>
		<option value="rm">romanche</option>
		<option value="rm_CH">romanche (Suisse)</option>
		<option value="ro">roumain</option>
		<option value="ro_MD">roumain (Moldavie)</option>
		<option value="ro_RO">roumain (Roumanie)</option>
		<option value="rn">roundi</option>
		<option value="rn_BI">roundi (Burundi)</option>
		<option value="ru">russe</option>
		<option value="ru_BY">russe (Biélorussie)</option>
		<option value="ru_KZ">russe (Kazakhstan)</option>
		<option value="ru_KG">russe (Kirghizstan)</option>
		<option value="ru_MD">russe (Moldavie)</option>
		<option value="ru_RU">russe (Russie)</option>
		<option value="ru_UA">russe (Ukraine)</option>
		<option value="se">same du Nord</option>
		<option value="se_FI">same du Nord (Finlande)</option>
		<option value="se_NO">same du Nord (Norvège)</option>
		<option value="se_SE">same du Nord (Suède)</option>
		<option value="sg">sango</option>
		<option value="sg_CF">sango (République centrafricaine)</option>
		<option value="sa">sanskrit</option>
		<option value="sa_IN">sanskrit (Inde)</option>
		<option value="sc">sarde</option>
		<option value="sc_IT">sarde (Italie)</option>
		<option value="sr">serbe</option>
		<option value="sr_BA">serbe (Bosnie-Herzégovine)</option>
		<option value="sr_Cyrl_BA">serbe (cyrillique, Bosnie-Herzégovine)</option>
		<option value="sr_Cyrl_ME">serbe (cyrillique, Monténégro)</option>
		<option value="sr_Cyrl_RS">serbe (cyrillique, Serbie)</option>
		<option value="sr_Cyrl">serbe (cyrillique)</option>
		<option value="sr_Latn_BA">serbe (latin, Bosnie-Herzégovine)</option>
		<option value="sr_Latn_ME">serbe (latin, Monténégro)</option>
		<option value="sr_Latn_RS">serbe (latin, Serbie)</option>
		<option value="sr_Latn">serbe (latin)</option>
		<option value="sr_ME">serbe (Monténégro)</option>
		<option value="sr_RS">serbe (Serbie)</option>
		<option value="sh">serbo-croate</option>
		<option value="sh_BA">serbo-croate (Bosnie-Herzégovine)</option>
		<option value="sn">shona</option>
		<option value="sn_ZW">shona (Zimbabwe)</option>
		<option value="sd">sindhi</option>
		<option value="sd_Arab_PK">sindhi (arabe, Pakistan)</option>
		<option value="sd_Arab">sindhi (arabe)</option>
		<option value="sd_Deva_IN">sindhi (dévanagari, Inde)</option>
		<option value="sd_Deva">sindhi (dévanagari)</option>
		<option value="sd_IN">sindhi (Inde)</option>
		<option value="sd_PK">sindhi (Pakistan)</option>
		<option value="sk">slovaque</option>
		<option value="sk_SK">slovaque (Slovaquie)</option>
		<option value="sl">slovène</option>
		<option value="sl_SI">slovène (Slovénie)</option>
		<option value="so">somali</option>
		<option value="so_DJ">somali (Djibouti)</option>
		<option value="so_ET">somali (Éthiopie)</option>
		<option value="so_KE">somali (Kenya)</option>
		<option value="so_SO">somali (Somalie)</option>
		<option value="su">soundanais</option>
		<option value="su_ID">soundanais (Indonésie)</option>
		<option value="su_Latn_ID">soundanais (latin, Indonésie)</option>
		<option value="su_Latn">soundanais (latin)</option>
		<option value="sv">suédois</option>
		<option value="sv_FI">suédois (Finlande)</option>
		<option value="sv_AX">suédois (Îles Åland)</option>
		<option value="sv_SE">suédois (Suède)</option>
		<option value="sw">swahili</option>
		<option value="sw_CD">swahili (Congo-Kinshasa)</option>
		<option value="sw_KE">swahili (Kenya)</option>
		<option value="sw_UG">swahili (Ouganda)</option>
		<option value="sw_TZ">swahili (Tanzanie)</option>
		<option value="tg">tadjik</option>
		<option value="tg_TJ">tadjik (Tadjikistan)</option>
		<option value="tl">tagalog</option>
		<option value="tl_PH">tagalog (Philippines)</option>
		<option value="ta">tamoul</option>
		<option value="ta_IN">tamoul (Inde)</option>
		<option value="ta_MY">tamoul (Malaisie)</option>
		<option value="ta_SG">tamoul (Singapour)</option>
		<option value="ta_LK">tamoul (Sri Lanka)</option>
		<option value="tt">tatar</option>
		<option value="tt_RU">tatar (Russie)</option>
		<option value="cs">tchèque</option>
		<option value="cs_CZ">tchèque (Tchéquie)</option>
		<option value="ce">tchétchène</option>
		<option value="ce_RU">tchétchène (Russie)</option>
		<option value="cv">tchouvache</option>
		<option value="cv_RU">tchouvache (Russie)</option>
		<option value="te">télougou</option>
		<option value="te_IN">télougou (Inde)</option>
		<option value="th">thaï</option>
		<option value="th_TH">thaï (Thaïlande)</option>
		<option value="bo">tibétain</option>
		<option value="bo_CN">tibétain (Chine)</option>
		<option value="bo_IN">tibétain (Inde)</option>
		<option value="ti">tigrigna</option>
		<option value="ti_ER">tigrigna (Érythrée)</option>
		<option value="ti_ET">tigrigna (Éthiopie)</option>
		<option value="to">tongien</option>
		<option value="to_TO">tongien (Tonga)</option>
		<option value="tr">turc</option>
		<option value="tr_CY">turc (Chypre)</option>
		<option value="tr_TR">turc (Turquie)</option>
		<option value="tk">turkmène</option>
		<option value="tk_TM">turkmène (Turkménistan)</option>
		<option value="uk">ukrainien</option>
		<option value="uk_UA">ukrainien (Ukraine)</option>
		<option value="vi">vietnamien</option>
		<option value="vi_VN">vietnamien (Viêt Nam)</option>
		<option value="wo">wolof</option>
		<option value="wo_SN">wolof (Sénégal)</option>
		<option value="xh">xhosa</option>
		<option value="xh_ZA">xhosa (Afrique du Sud)</option>
		<option value="ii">yi du Sichuan</option>
		<option value="ii_CN">yi du Sichuan (Chine)</option>
		<option value="yi">yiddish</option>
		<option value="yi_001">yiddish (Monde)</option>
		<option value="yo">yoruba</option>
		<option value="yo_BJ">yoruba (Bénin)</option>
		<option value="yo_NG">yoruba (Nigeria)</option>
		<option value="zu">zoulou</option>
		<option value="zu_ZA">zoulou (Afrique du Sud)</option>
	</select>
	<div id="form_choice_0_locale_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
