{% extends 'base.html.twig' %}

{% block title %}Edit NoteInterne{% endblock %}

{% block body %}
    <h1>Edit NoteInterne</h1>

    {{ include('note_interne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('note_interne_index') }}">back to list</a>

    {{ include('note_interne/_delete_form.html.twig') }}
{% endblock %}
