{% extends 'base.html.twig' %}

{% block title %}New NoteInterne{% endblock %}

{% block body %}
    <h1>Create new NoteInterne</h1>

    {{ include('note_interne/_form.html.twig') }}

    <a href="{{ path('note_interne_index') }}">back to list</a>
{% endblock %}
