@import "assets.scss";
header{
  .row{
    background-color: #f1f1f1;
  }
}

form{
  background-color: #f1f1f1;
  padding: 1em;
  margin: 2em;
}

table{
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-striped;
}
.thactions{
  @extend .text-center;
  i{
    @extend .BtnAdminTableAction;
  }
}
a{
  @extend .text-decoration-none;
}

.pagination{
  @extend .justify-content-center;
}

.ListBtnAdmin{
  @extend .btn-group;
  @extend .btn-group-lg;
  .link-btnadmin{
    @extend .btn;
    @extend .btn-secondary;
    a{
      @extend .d-flex;
      @extend .flex-column;
      @extend .align-items-center;
      color: white;
    }
  }
}

i{
  &.BtnAdminHeaderDestroy{
    @extend .fas;
    @extend .fa-trash;
  }
  &.BtnAdminHeaderRestore{
    @extend .fas;
    @extend .fa-trash-restore;
  }
  &.BtnAdminHeaderTrash{
    @extend .fas;
    @extend .fa-trash;
  }
  &.BtnAdminHeaderEmpty{
    @extend .fas;
    @extend .fa-trash;
  }
  &.BtnAdminHeaderGuard{
    @extend .fas;
    @extend .fa-gavel;
  }
  &.BtnAdminHeaderEdit{
    @extend .far;
    @extend .fa-edit;
  }
  &.BtnAdminHeaderDelete{
    @extend .far;
    @extend .fa-trash-alt;
  }
  &.BtnAdminHeaderShow{
    @extend .far;
    @extend .fa-eye;
  }
  &.BtnAdminHeaderSave{
    @extend .fas;
    @extend .fa-save;
  }
  &.BtnAdminHeaderNew{
    @extend .fas;
    @extend .fa-plus;
  }
  &.BtnAdminHeaderList{
    @extend .fas;
    @extend .fa-list;
  }
}

.BtnAdminTableAction{
  @extend .fas;
  @extend .fa-cog;
    i{
      @extend .fas;
      @extend .fa-plus;
    }
    span{
      display: none;
    }
}

.link-guard{
  @extend .btn;
  @extend .btn-outline-dark;
  @extend .btn-sm;
    i{
      @extend .fas;
      @extend .fa-gavel;
    }
    span{
      display: none;
    }
}

.link-show{
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-sm;
    i{
      @extend .far;
      @extend .fa-eye;
    }
    span{
      display: none;
    }
}

.link-edit{
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;
  i{
    @extend .fas;
    @extend .fa-edit;
  }
  span{
    display: none;
  }
}

.link-restore{
  @extend .btn;
  @extend .btn-outline-success;
  @extend .btn-sm;
  i{
    @extend .fas;
    @extend .fa-trash-restore;
  }
  span{
    display: none;
  }
}

.workflow-action{
  @extend .btn;
  @extend .btn-outline-info;
  @extend .btn-sm;
  i{
    @extend .fas;
    @extend .fa-sign-in-alt;
  }
}
.attachment-img{
  img{
    @extend .img-fluid;
    @extend .img-thumbnail;
    @extend .mx-auto;
    @extend .d-block;
  }
}
.link-delete, .link-destroy{
  @extend .btn;
  @extend .btn-outline-danger;
  @extend .btn-sm;
  i{
    @extend .fas;
    @extend .fa-trash-alt;
  }
  span{
    display: none;
  }
}

.breadcrumb{
  .separator{
    @extend .mr-1;
    @extend .ml-1;
  }
}

.btngrouptable{
  @extend .btn-group;
}

#navbarSupportedContent{
  .navbar-nav{
    &:last-child{
      li{
        &.last{
          right: 25px;
        }
      }
    }
  }
}
.guard-group, .guard-user {
  @extend .custom-control;
  @extend .custom-switch;
  input{
    @extend .custom-control-input;
  }
  label{
    @extend .custom-control-label;
  }
}