@import "bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "flag-icon-css/sass/flag-icon.scss";

label {
  &.required {
    &::after {
      content: " *";
      color: red;
    }
  }
}

a {
  &[href^="tel:"] {
    &::before {
      @extend .fas;
      @extend .fa-phone;

      color: #000;
      padding-right: 5px;
    }
  }

  &[href^="mailto:"] {
    &::before {
      @extend .fas;
      @extend .fa-at;

      color: #f00;
      padding-right: 5px;
    }
  }
}

.btn-togglefieldset {
  @extend .btn;
  @extend .btn-info;

  .min {
    @extend .fas;
    @extend .fa-window-minimize;
  }

  .max {
    @extend .far;
    @extend .fa-window-maximize;
  }
}

.btn-addcollection {
  @extend .btn;
  @extend .btn-primary;

  i {
    @extend .fas;
    @extend .fa-plus;
  }
}

.btn-delete,
.attachment-delete {
  @extend .btn;
  @extend .btn-danger;

  i {
    @extend .fas;
    @extend .fa-trash-alt;
  }
}

fieldset {
  @extend .shadow;
  @extend .p-3;
  @extend .mb-5;
  @extend .bg-white;
}

.CollectionRow {
  @extend .shadow;
  @extend .p-3;
  @extend .mb-5;
  @extend .bg-white;
}

.form-group {
  @extend .mb-1;
}

.RequireFormInfo {
  text-align: right;

  span {
    font-weight: bold;
    color: red;
  }
}

.form-control {
  appearance: revert;
}

.itemConnect {
  @extend .col-md-4;
}

.th-inner {
  .asc,
  .desc,
  .both {
    @extend .text-decoration-none;

    background-image: none !important;
  }
}

legend {
  font-weight: bold;
}

.GpsIcon {
  &::before {
    @extend .fas;
    @extend .fa-map-marker-alt;

    padding-right: 5px;
  }
}

#deleteModal,
#deletiesModal,
#deleteAttachmentModal,
#destroyModal,
#emptyModal,
#emptiesModal,
#emptyallModal,
#restoreModal,
#workflowModal {
  @extend .modal;
  @extend .fade;
}

.modal-dialog {
  @extend .modal-dialog-centered;

  .BtnCancel {
    @extend .btn;
    @extend .btn-outline-success;

    i {
      @extend .fas;
      @extend .fa-ban;
    }
  }

  .confirm-delete,
  .confirm-deleties,
  .confirm-destroy,
  .confirm-empty,
  .confirm-empties,
  .confirm-emptyall,
  .confirm-deleteattachment {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-trash-alt;
    }
  }

  .confirm-restore {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-trash-restore;
    }
  }

  .confirm-workflow {
    @extend .btn;
    @extend .btn-outline-danger;

    i {
      @extend .fas;
      @extend .fa-sign-in-alt;
    }
  }
}

@media all and (min-width: 992px) {
  .nav-item {
    .dropdown-menu {
      display: none;
      margin-top: 0;
    }

    &:hover {
      .nav-link {
        color: #fff;
      }

      .dropdown-menu {
        display: block;
      }
    }
  }
}

.formError {
  @extend .badge;
  @extend .badge-danger;
  @extend .text-uppercase;
}

.checkOK {
  @extend .fas;
  @extend .fa-check;

  color: green;
}

.checkKO {
  @extend .fas;
  @extend .fa-times;

  color: red;
}
