@import "bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "./../node_modules/bootstrap-table/dist/bootstrap-table.css";

label {
  font-weight: bold;
  &.required {
    &:after {
      content: " *";
      color: red;
    }
  }
}

.RequireFormInfo{
  text-align: right;
  span{
    font-weight: bold;
    color: red;
  }
}
.form-control{
  appearance: revert;
}