<div rows="20" class="form-group">
	<label for="form_extra_0_textarea" class="required">Textarea</label>
	<div class="btn-group float-end" role="group">
		<label for="form_extra_0_textarea" class="required"></label>
	</div>
	<textarea id="form_extra_0_textarea" name="form[extra][0][textarea]" required="required" rows="20" aria-describedby="form_extra_0_textarea_help" class="form-control"></textarea>
	<div id="form_extra_0_textarea_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
