.btns{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
form {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}