h1 {
  @extend .h3;
  @extend .mb-3;
  @extend .font-weight-normal;
}

.item-connect {
  @extend .col-md-4;
}

.oauth{
  
}

.form-login{
  border: 1px solid grey;
  border-radius: 5%;
  padding: 2%;
}