header{
  @extend .container;
  min-height: $height_header;
  @import "main/header.scss";
}

main{
  @extend .container;
  min-height: $height_main;
  section{
    @extend .row;
  }
  .home_content{
    @include make-col(12);
    padding: 15px 15px 15px 15px;
    @include media-breakpoint-up(md) {
      @include make-col(9);
    }
  }
  aside{
    @include make-col(12);
    padding: 15px 15px 15px 15px;
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
  }
}

.aside-lists{
  @extend .row;
  align-content: baseline;
}

.aside-list{
  @include make-col(6);
  padding: 15px;
  @include media-breakpoint-up(md) {
    @include make-col(12);
  }
}

footer{
  background-color: $bc_footer;
  color: $c_footer;
  min-height: $height_footer;
  bottom: 0;
  @extend .container-fluid;
  margin: 2em 0 0 0;
  @import "main/footer.scss";
}

.post_data{

}

.post_title{

}

.post_date{

}

.post_content{
  margin: 2% 0 5% 0;
}
.post_more{
  text-align: right;
}