<div class="form-group">
	<label for="form_dateandtime_0_date" class="required">Date</label>
	<div class="btn-group float-end" role="group">
		<label for="form_dateandtime_0_date" class="required"></label>
	</div><input type="date" id="form_dateandtime_0_date" name="form[dateandtime][0][date]" required="required" aria-describedby="form_dateandtime_0_date_help" class="form-control"/>
	<div id="form_dateandtime_0_date_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
