Bonjour %username%,<br />
le %datetime%, un nouveau numéro de téléphone (%tel_number%) a été enregistré sur votre compte.<br />
Merci de confirmer votre téléphone afin de pouvoir recevoir par la suite des téléphone sur ce numéro.<br/>
<center>
    <a href="%url_confirm_phone%">Accepter</a>
</center>