Bonjour %username%,<br />
le %datetime%, vous avez demander de ré-initialiser votre mot de passe.<br />
Si, c'est pas le cas, merci de ne pas cliquer sur le lien ci-dessous, sinon, cliquez sur ce lien.<br />
<center>
    <a href="%url_change_password%">Accepter</a>
</center>