Bonjour %username%,<br />
le %datetime%, merci pour votre inscription.<br />
Merci de confirmer l'inscription afin de pouvoir accéder aux parties privés du site.<br/>
<center>
    <a href="%url_confirm_user%">Confirmer l'inscription</a>
</center>
