<div class="form-group">
	<label class="required">Datetimedate</label>
	<div class="btn-group float-end" role="group">
		<label class="required"></label>
	</div>
	<div id="form_dateandtime_0_datetimedate" aria-describedby="form_dateandtime_0_datetimedate_help" class="form-inline row">
		<div class="col">
			<label for="form_dateandtime_0_datetimedate_date" class="required">Date</label>
			<div class="btn-group float-end" role="group">
				<label for="form_dateandtime_0_datetimedate_date" class="required"></label>
			</div>
		</div>
		<div class="col">
			<input type="date" id="form_dateandtime_0_datetimedate_date" name="form[dateandtime][0][datetimedate][date]" required="required" class="form-control"/>
		</div>
		<div class="col">
			<label for="form_dateandtime_0_datetimedate_time" class="required">Time</label>
			<div class="btn-group float-end" role="group">
				<label for="form_dateandtime_0_datetimedate_time" class="required"></label>
			</div>
		</div>
		<div class="col">
			<input type="time" id="form_dateandtime_0_datetimedate_time" name="form[dateandtime][0][datetimedate][time]" required="required" step="1" class="form-control"/>
		</div>
	</div>
	<div id="form_dateandtime_0_datetimedate_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
