<div step="1" class="form-group">
	<label for="form_dateandtime_0_time" class="required">Time</label>
	<div class="btn-group float-end" role="group">
		<label for="form_dateandtime_0_time" class="required"></label>
	</div><input type="time" id="form_dateandtime_0_time" name="form[dateandtime][0][time]" required="required" step="1" aria-describedby="form_dateandtime_0_time_help" class="form-control"/>
	<div id="form_dateandtime_0_time_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
