{% use "tmpl/form_themes.html.twig" %}
<div class="row" data-url="{ {path('api_geo_codes_get_collection', {'_format': 'json'}) }}">
    {% for input in row %}
        <div class="col-6">
            {{ form_row(input) }}
        </div>
    {% endfor %}
    {% if allow_delete %}
        <div class="text-center col-6">
            {{ block('collection_delete') }}
        </div>
    {% endif %}
</div>