{% extends 'admin/template/layout.html.twig' %}
{% block content %}
    <h1>Create new Template</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('template_index') }}">back to list</a>
{% endblock %}
