{% extends 'admin/lien_user/layout.html.twig' %}
{% block body %}
    {{ form(form) }}

    <a href="{{ path('admin_lienuser_index') }}">back to list</a>

    {{ include('admin/lien_user/_delete_form.html.twig') }}
{% endblock %}
