{% extends 'admin/lien_user/layout.html.twig' %}

{% block title %}New LienUser{% endblock %}

{% block content %}
    <h1>Create new LienUser</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('lien_user_index') }}">back to list</a>
{% endblock %}
