$bbg : grey;
$boxbg: white;
$hbg: white;
$mbg: white;
$fbg: #1a3661;

$c_footer: white;

$gotop_gotop: #ffed00;
$gotop_hw: 36px;
$gotop_border_radius: 0 0 25% 25%;

$height_header: 10vh;
$height_main: 80vh;
$height_footer: 10vh;