<div class="aside-list">
    <h4>Elsewhere</h4>
    <ol>
        <li>
            <a href="https://www.github.com/koromerzhin" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.twitter.com/koromerzhin" target="_blank">Twitter</a>
        </li>
    </ol>
</div>