{% set mainclass = "main-edito" %}
{% extends 'skeleton/home.html.twig' %}
{% block section %}
    <h2 class="edito_title">{{ edito.title }}</h2>
    {% set fond = attachment(edito.fond) %}
    {% if fond != null %}
        <picture>
            <img src="{{ asset(fond.name) }}" class="edito_img img-fluid" loading="lazy" />
        </picture>
    {% endif %}
    <div class="edito_content">{{ edito.content|raw }}</div>
{% endblock %}
