<nav>
	<div class="col-4 text-center">
		<a class="text-dark" href="{{ path('front') }}">{{ config.site_title|e }}</a>
	</div>
	<div class="col-4 d-flex justify-content-end align-items-center">
		<a class="login" href="{{ path('admin') }}">Se connecter</a>
	</div>
</nav>
