{% extends 'admin/post/libelle/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
