<div class="form-group">
	<label for="form_text_0_color">Color</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_color"></label>
	</div><input type="color" id="form_text_0_color" name="form[text][0][color]" aria-describedby="form_text_0_color_help"/><br/>
	<div id="form_text_0_color_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
