<div placeholder="aa" class="form-group">
	<label for="form_text_0_email" class="required">Email</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_email" class="required"></label>
	</div><input type="email" id="form_text_0_email" name="form[text][0][email]" required="required" placeholder="aa" aria-describedby="form_text_0_email_help" is="input-email" class="form-control"/>
	<div id="form_text_0_email_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
