<div class="form-group">
	<label for="form_text_0_money" class="required">Money</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_money" class="required"></label>
	</div>
	<div class="input-group">
		<input type="" id="form_text_0_money" name="form[text][0][money]" required="required" aria-describedby="form_text_0_money_help" class="form-control"/>
		<span class="input-group-text">€</span>
	</div>
	<div id="form_text_0_money_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
