<div inputmode="decimal" class="form-group">
	<label for="form_text_0_number" class="required">Number</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_number" class="required"></label>
	</div><input type="text" id="form_text_0_number" name="form[text][0][number]" required="required" inputmode="decimal" aria-describedby="form_text_0_number_help" class="form-control"/>
	<div id="form_text_0_number_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
