<div class="form-group">
	<label for="form_text_0_search" class="required">Search</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_search" class="required"></label>
	</div><input type="search" id="form_text_0_search" name="form[text][0][search]" required="required" aria-describedby="form_text_0_search_help" class="form-control"/>
	<div id="form_text_0_search_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
