<div class="form-group">
	<label for="form_text_0_text" class="required">Text</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_text" class="required"></label>
	</div><input type="" id="form_text_0_text" name="form[text][0][text]" required="required" aria-describedby="form_text_0_text_help" class="form-control"/>
	<div id="form_text_0_text_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
