<div inputmode="url" class="form-group">
	<label for="form_text_0_url" class="required">Url</label>
	<div class="btn-group float-end" role="group">
		<label for="form_text_0_url" class="required"></label>
	</div><input type="text" id="form_text_0_url" name="form[text][0][url]" required="required" inputmode="url" aria-describedby="form_text_0_url_help" is="input-url" class="form-control"/>
	<div id="form_text_0_url_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
