<div class="row">
    {% for input in row %}
        <div class="col-6">
            {{ form_row(input) }}
        </div>
    {% endfor %}
    {% if allow_delete %}
        <div class="text-center col-6">
            {% embed "embed/btn/delete.html.twig" %}{% endembed %}
        </div>
    {% endif %}
</div>