{% set state = 'api_check_phone'|guard_route %}
{% if state == true %}
    {% set url = path('api_check_phone', {'_format': 'json'}) %}
{% else %}
    {% set url = '#' %}
{% endif %}
<div class="row" data-url="{{ url }}">
    {% for input in row %}
        <div class="col-6">
            {{ form_row(input) }}
        </div>
    {% endfor %}
    {% if allow_delete %}
        <div class="text-center col-6">
            {% embed "embed/btn/delete.html.twig" %}{% endembed %}
        </div>
    {% endif %}
</div>