{% extends 'admin/email_user/layout.html.twig' %}

{% block title %}Edit EmailUser{% endblock %}

{% block content %}
    <h1>Edit EmailUser</h1>

    {{ include('admin/crud/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('email_user_index') }}">back to list</a>

    {{ include('admin/email_user/_delete_form.html.twig') }}
{% endblock %}
