{% extends 'admin/email_user/layout.html.twig' %}
{% block content %}
    <h1>Create new EmailUser</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('email_user_index') }}">back to list</a>
{% endblock %}
