{% extends 'base.html.twig' %}

{% block title %}New Edito{% endblock %}

{% block body %}
    <h1>Create new Edito</h1>

    {{ include('edito/_form.html.twig') }}

    <a href="{{ path('edito_index') }}">back to list</a>
{% endblock %}
