<div class="form-group">
	<label class="required" for="form_choice_0_choice_multiple">Choice multiple</label>
	<div class="btn-group float-end" role="group">
		<label class="required" for="form_choice_0_choice_multiple"></label>
	</div>
	<select id="form_choice_0_choice_multiple" name="form[choice][0][choice_multiple][]" required="required" aria-describedby="form_choice_0_choice_multiple_help" is="select-selector" multiple="multiple">
		<option value="0">
			Maybe
		</option>
		<option value="1">
			Yes
		</option>
		<option value="2">
			No
		</option>
	</select>
	<div id="form_choice_0_choice_multiple_help" class="form-text mb-0 help-text">
		help
	</div>
</div>
