{% extends 'admin/libelle/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'post.libelle.name'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'post.libelle.slug'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
