<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    <ul>
        {% for bookmark in bookmarks %}
            <li>
				<a href="{{ path('front_bookmark', {'slug': bookmark.slug}) }}" target="_blank">
					{{ bookmark.name }}
				</a>
            </li>
        {% endfor %}
    </ul>
</section>