<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    <ul>
        {% for history in histories %}
            <li>
                <a href="{{ path('front_history', {'slug': history.slug}) }}">
					{{ history.name }}
				</a>
            </li>
        {% endfor %}
    </ul>
</section>