<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <img src="{{ attachment | imagefilter('paragraph_image') }}" alt="{{ paragraph.title|e('html_attr') }}" />
</section>