<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    <img loading="lazy" src="{{ attachment | imagefilter('paragraph_image') }}" alt="{{ paragraph.title|e('html_attr') }}" />
</section>