<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <div class="youtube_player" videoID="9Czd4CoQbj8" theme="light" rel="0" controls="1" showinfo="1" autoplay="0"></div>
</section>