body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  @include media-breakpoint-up(xl) {
    max-width: map-get($grid-breakpoints, 'lg');
    @include make-container($grid-gutter-width);
  }
}

@import "page/edito.scss";
@import "page/home.scss";
