{% extends 'admin.html.twig' %}
{% block body %}
    <div>
        <p>Vous êtes sur la page qui vous permet de retrouver les différentes routes permettant de parametrer les connexions Oauth.</p>
        <p>Pour chaque service proposé ci-dessous, merci de récupérer l'<b>identifiant</b> ainsi que la <b>clef secrète</b>.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Service</th>
                <th>Url</th>
                <th>Url à indiquer</th>
            </tr>
        </thead>
        <tbody>
            {% for service, data in types %}
                {% if data.config is defined %}
                <tr>
                    <td>
                        {{ service }}
                    </td>
                    <td>
                        <a href="{{ data.config }}">Y accéder</a>
                    </td>
                    <td>
                        {{ config['site_url']}}/oauth/check/{{ service }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
