{% extends 'base.html.twig' %}

{% block title %}New AdresseUser{% endblock %}

{% block body %}
    <h1>Create new AdresseUser</h1>

    {{ include('adresse_user/_form.html.twig') }}

    <a href="{{ path('adresse_user_index') }}">back to list</a>
{% endblock %}
