<div class="edito"{% if edito.fond is defined %} style="background-image: url('{{ edito.fond.name }}');"{% endif %}>
	<div class="col-md-6 px-0">
		<h1 class="display-4 font-italic">{{ edito.title }}</h1>
		<p class="lead my-3">{{ edito.content|raw }}</p>
		<p class="lead mb-0">
			<a href="{{ path('edito') }}" class="text-white font-weight-bold">Continuer à lire...</a>
		</p>
	</div>
</div>