<div class="header_edito"{% if edito.fond is defined %} style="background-image: url('{{ edito.fond.name }}');"{% endif %}>
	<h1>{{ edito.title }}</h1>
    <div class="edito_content">
        {{ edito.content|raw }}
    </p>
	</div>
    <div class="edito_more">
        <a href="{{ path('edito') }}">Continuer à lire...</a>
    </div>
</div>