{% extends 'admin/edito/layout.html.twig' %}
{% block body %}
    {{ form(form) }}

    <a href="{{ path('admin_edito_index') }}">back to list</a>

    {{ include('admin/edito/_delete_form.html.twig') }}
{% endblock %}
