{% extends 'admin/edito/layout.html.twig' %}
{% block content %}
    <h1>Edit Edito</h1>

    {{ include('admin/crud/form.html.twig') }}

    <a href="{{ path('edito_index') }}">back to list</a>

    {{ include('admin/edito/_delete_form.html.twig') }}
{% endblock %}
